 <!-- other -->
 <div class="col-sm-12">
    <div class="card">
        <div class="card-body">
            
            <form autocomplete="false">
                <div class="row" >

                    <!-- documents -->
                    <div class="col-12">
                        <div class="card-box">
                            <div class="card-block">
                                <h3 class="card-title">Behavior Analysis Assessment</h3>
                                <div class="col-12 col-md-4 col-xl-4">
                                    <div class="form-group local-forms">
                                        <label >Type of Assessment:<span class="login-danger">*</span></label>
                                        <select
                                            class="form-control form-select-solid fw-bolder"
                                            name="type_of_assessment" [(ngModel)]="type_of_assessment">
                                            <option>-- Select --</option>
                                              <option [value]="1">Assessment</option>
                                              <option [value]="2">Reassessment</option>
                                              <option [value]="3">Initial</option>
                                              </select>
                                    </div>
                                </div>
                                <h4 class="card-title">Documents Reviewed</h4>
                                <div class="row align-items-center" >
                                    <div class="col-xs-12">
                                        <div class="row">
                                            
                                            <!-- <div class="col-xs-6 col-sm-4">  
                                                
                                                <div class="form-group">
                                                    <div _ngcontent-rhp-c92="" class="card-header d-flex justify-content-between align-items-center">
                                                        <h5 _ngcontent-rhp-c92="" class="card-title">Document Title</h5>
                                                        <div _ngcontent-rhp-c92="" class="status-toggle d-flex justify-content-between align-items-center">
                                                            <input _ngcontent-rhp-c92="" type="checkbox" id="document_title" class="check" name="document_title" [ngModelOptions]="{standalone: true}" [(ngModel)]="document_title">
                                                            <label _ngcontent-rhp-c92="" for="doctor_referal" class="checktoggle" value="true">checkbox</label>
                                                        </div>
                                                    </div>

                                                </div>
                                            </div> -->
                                            <div class="col-xs-12 col-sm-6">  
                                                <div class="form-group local-forms">
                                                    <label >Document Title<span class="login-danger">*</span></label>
                                                    <input class="form-control" name="document_title"  [(ngModel)]="document_title" type="text"  >
                                                </div>
                                            </div>
                                            <div class="col-xs-12 col-sm-6">  
                                                <div class="form-group local-forms">
                                                    <label >Status<span class="login-danger">*</span></label>
                                                    <select class="form-control form-select-solid fw-bolder"
                                                    name="document_status" [(ngModel)]="document_status" 
                                                    placeholder="state">
                                                    <option>-- Select --</option>
                                                    <option value="pending">Pending</option>
                                                    <option value="reviewing">Reviewing</option>
                                                    <option value="yes">Yes</option>
                                                    <option value="no">No</option>
                                                    </select>
                                                </div>
                                            </div>

                                            
                                            
                                            <div class="col-12 mb-3 doctor-submit text-end">
                                                <button class="btn btn-primary btn-sm" (click)="addDocument()">Update Document</button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xs-12 ">
                                        <div class="table-responsive">
                                            <table class="table mb-0">
                                                <thead>
                                                    <tr>
                                                        <th>Document Title</th>
                                                        <th>Status</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr *ngFor="let document of documents; let i = index">
                                                        <td>
                                                            {{document.document_title}}
                                                        </td>
                                                        <td>
                                                             {{document.document_status}}
                                                        </td>
                                                        <td>
                                                            <button class="btn btn-outline-danger btn-sm" (click)="deleteDocument(i)">x</button>
                                                        </td>
                                                        
                                                    </tr>
                                                    
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                    
                                </div>
                                
                            </div>
                        </div>
                    </div>
                    <!-- documents -->
                    
                    <div class="row align-items-center" >
                        <div class="col-12">
                            <div class="form-group local-forms">
                                <label>Background Information <span class="login-danger">*</span></label>
                                <textarea class="form-control" name="background_information" [(ngModel)]="background_information" rows="4" cols="30"></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="row align-items-center" >
                        <div class="col-xs-12 col-sm-6">
                            <div class="form-group local-forms">
                                <label>Previous treatments and results <span class="login-danger">*</span></label>
                                <textarea class="form-control" name="previus_treatment_and_result" [(ngModel)]="previus_treatment_and_result" rows="4" cols="30"></textarea>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6">
                            <div class="form-group local-forms">
                                <label>Current treatment and progress <span class="login-danger">*</span></label>
                                <textarea class="form-control" name="current_treatment_and_progress" [(ngModel)]="current_treatment_and_progress" rows="4" cols="30"></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="row align-items-center" >
                        <div class="col-12 col-md-6 ">  
                            <div class="form-group local-forms">
                                <label >Education status <span class="login-danger">*</span></label>
                                <textarea class="form-control" name="education_status" [(ngModel)]="education_status" rows="4" cols="30"></textarea>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6">
                            <div class="form-group local-forms">
                                <label>Physical and Medical Status <span class="login-danger">*</span></label>
                                <textarea class="form-control" name="phisical_and_medical_status" [(ngModel)]="phisical_and_medical_status" rows="4" cols="30"></textarea>
                            </div>
                        </div>
                        
                    </div>
                    <!-- validaciones -->
                    

                    <div class="form-group row" *ngIf="text_validation">
                        <div class="col-12">
                            <div class="alert alert-warning alert-dismissible fade show" role="alert">
                                <strong>!</strong> {{ text_validation }}.
                                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true"> </span>
                                </button>
                            </div>
                        </div>
                    </div>
                    <!-- validaciones -->
                    
                    <div class="col-12">
                        <div class="doctor-submit text-end">
                            <button type="button" class="btn btn-primary submit-form me-2" (click)="save()">Save</button>
                        </div>
                    </div>
                </div>
                
            </form>
            
        </div>
    </div>
        
</div>
<!-- fin other -->					
<!-- maladaptives -->
<div class="col-sm-12">
    <div class="card">
        <div class="card-body">
            <form autocomplete="false">
                <div class="row" >

                    <!-- maladaptives -->
                    <div class="col-12">
                        <div class="card-box">
                            <div class="card-block">
                                <h3 class="card-title">Maladaptives Behaviors</h3>
                                
                                <div class="row align-items-center" >
                                    <div class="col-xs-12 ">
                                        <div class="row">
                                            
                                            <div class="col-xs-12 col-sm-3">  
                                                <div class="form-group local-forms">
                                                    <label >Maladaptives Behavior<span class="login-danger">*</span></label>
                                                    <input class="form-control" name="maladaptive_behavior"  [(ngModel)]="maladaptive_behavior" type="text"  >
                                                </div>
                                            </div>
                                            <div class="col-xs-12 col-sm-3">  
                                                <div class="form-group local-forms">
                                                    <label >Baseline Level<span class="login-danger">*</span></label>
                                                    <input class="form-control" name="baseline_level"  [(ngModel)]="baseline_level" type="text"  >
                                                </div>
                                            </div>
                                            
                                            <div class="col-12 col-sm-3">
                                                <div class="form-group local-forms">
                                                    <label >Baseline Date <span class="login-danger">*</span></label>
                                                    <input class="form-control datetimepicker"  name="baseline_date" [(ngModel)]="baseline_date" type="text" matInput [matDatepicker]="picker"  >
                                                    <mat-datepicker #picker></mat-datepicker>
                                                    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                                                </div>
                                            </div>
                                            <div class="col-xs-12 col-sm-3">
                                                <div class="form-group local-forms">
                                                    <label >Intensity Initial<span class="login-danger">*</span></label>
                                                    <input class="form-control" name="baseline_level"  [(ngModel)]="initial_interesting" type="number"  >
                                                </div>
                                            </div>
                                            <div class="col-xs-12 ">
                                                <div class="form-group local-forms">
                                                    <label >Topografical Definition<span class="login-danger">*</span></label>
                                                    <textarea class="form-control" name="initial_interesting" [(ngModel)]="topografical_definition" rows="3" cols="30"></textarea>
                                                    
                                                </div>
                                            </div>
                                            
                                            
                                            <div class="col-12 mb-3 doctor-submit text-end">
                                                <button class="btn btn-primary btn-sm" (click)="addMaladaptive()">Add Maladaptive</button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xs-12">
                                        <div class="table-responsive">
                                            <table class="table mb-0">
                                                <thead>
                                                    <tr>
                                                        <th>Maladaptives Behavior</th>
                                                        <th>Topografical Definition</th>
                                                        <th>Baseline Level</th>
                                                        <th>Baseline Date</th>
                                                        <th>Intensity Initial </th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr *ngFor="let maladap of maladaptives; let i = index">
                                                        <td>
                                                            {{maladap.maladaptive_behavior}}
                                                        </td>
                                                        <td>
                                                            {{maladap.topografical_definition}}
                                                        </td>
                                                        <td>
                                                             {{maladap.baseline_level}}
                                                        </td>
                                                        <td>
                                                             {{maladap.baseline_date| date}}
                                                        </td>
                                                        <td>
                                                            {{maladap.initial_interesting}}
                                                        </td>
                                                        <td>
                                                            <button class="btn btn-outline-danger btn-sm" (click)="deleteMaladaptive(i)">x</button>
                                                        </td>
                                                    </tr>
                                                    
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                    
                                </div>
                                
                            </div>
                        </div>
                    </div>
                    <!-- maladaptives -->
                    <!-- validaciones -->
                   
                    <div class="form-group row" *ngIf="text_validation">
                        <div class="col-md-12">
                            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                                <strong>!</strong> {{text_validation}}.
                                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true"> </span>
                                </button>
                            </div>
                        </div>
                    </div>
                    <!-- validaciones -->
                    
                    <div class="col-12">
                        <div class="doctor-submit text-end">
                            <button type="button" class="btn btn-primary submit-form me-2" (click)="save()">Save</button>
                        </div>
                    </div>
                </div>
                
            </form>
            
        </div>
    </div>
        
</div>
<!-- fin maladaptives -->					
<!-- Assestment -->
<div class="col-sm-12">
    <div class="card">
        <div class="card-body">
            <form autocomplete="false">
                <div class="row" >


                    <h3 class="card-title">Assessment Conducted</h3>
                    <div class="row align-items-center" >
                        <div class="col-12 ">  
                            <div class="form-group local-forms">
                                <label >Assessment Conducted <span class="login-danger">*</span></label>
                                <textarea class="form-control" name="assestment_conducted" [(ngModel)]="assestment_conducted" rows="4" cols="30"></textarea>
                            </div>
                        </div>
                        
                    </div>
                    <div class="row align-items-center" >
                        <h4 class="card-title">Documents Reviewed</h4>
                                <div class="row align-items-center" >
                                    <div class="col-xs-12">
                                        <div class="row">
                                            <div class="col-xs-12 col-sm-6">  
                                                <div class="form-group local-forms">
                                                    <label >Document Title<span class="login-danger">*</span></label>
                                                    <input class="form-control" name="assestment_title"  [(ngModel)]="assestment_title" type="text"  >
                                                </div>
                                            </div>
                                            <div class="col-xs-12 col-sm-6">  
                                                <div class="form-group local-forms">
                                                    <label >Status<span class="login-danger">*</span></label>
                                                    <select class="form-control form-select-solid fw-bolder"
                                                    name="assestment_status" [(ngModel)]="assestment_status" 
                                                    placeholder="state">
                                                    <option>-- Select --</option>
                                                    <option value="pending">Pending</option>
                                                    <option value="reviewing">Reviewing</option>
                                                    <option value="yes">Yes</option>
                                                    <option value="no">No</option>
                                                    </select>
                                                </div>
                                            </div>

                                            
                                            
                                            <div class="col-12 mb-3 doctor-submit text-end">
                                                <button class="btn btn-primary btn-sm" (click)="addAssesstmentDocument()">Update Assestment Document</button>
                                            </div>
                                        </div>
                                        
                                        <div class="col-xs-12 ">
                                            <div class="table-responsive">
                                                <table class="table mb-0">
                                                    <thead>
                                                        <tr>
                                                            <th>Assessment Document Title</th>
                                                            <th>Status</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr *ngFor="let assesstment of assesstmentsDocuments; let i = index">
                                                            <td>
                                                                {{assesstment.assestment_title}}
                                                            </td>
                                                            <td>
                                                                 {{assesstment.assestment_status}}
                                                            </td>
                                                            <td>
                                                                <button class="btn btn-outline-danger btn-sm" (click)="deleteAssesstmentDocument(i)">x</button>
                                                            </td>
                                                        </tr>
                                                        
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                    
                                    
                                </div>
                        
                    </div>
                    
                    
                    <!-- validaciones -->
                   
                    <div class="form-group row" *ngIf="text_validation">
                        <div class="col-md-12">
                            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                                <strong>!</strong> {{text_validation}}.
                                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true"> </span>
                                </button>
                            </div>
                        </div>
                    </div>
                    <!-- validaciones -->
                    
                    <div class="col-12">
                        <div class="doctor-submit text-end">
                            <button type="button" class="btn btn-primary submit-form me-2" (click)="save()">Save</button>
                        </div>
                    </div>
                </div>
                
            </form>
            
        </div>
    </div>
        
</div>
<!-- fin Assestment -->	

<!-- Assestment2 -->
<div class="col-sm-12">
    <div class="card">
        <div class="card-body">
            <form autocomplete="false">
                <div class="row" >


                    <div class="row align-items-center" >
                        <!-- Assestments -->
                    <div class="col-12">
                        <div class="card-box">
                            <div class="card-block">
                                <h3 class="card-title">Prevalent Setting Events & Antecedents</h3>
                                
                                <div class="row align-items-center" >
                                    <div class="col-xs-12 ">
                                        <div class="row">
                                            
                                            <div class="col-xs-12">  
                                                <div class="form-group local-forms">
                                                    <label >Prevalent Setting Events & Antecedents<span class="login-danger">*</span></label>
                                                    <textarea class="form-control" name="prevalent_setting_event_and_atecedent" [(ngModel)]="prevalent_setting_event_and_atecedent" rows="3" cols="30"></textarea>
                                                </div>
                                            </div>
                                            <div class="col-xs-12">
                                                <div class="form-group local-forms">
                                                    <label >Behavior<span class="login-danger">*</span></label>
                                                    <textarea class="form-control" name="behavior" [(ngModel)]="behavior" rows="3" cols="30"></textarea>
                                                    
                                                </div>
                                            </div>
                                            
                                            <div class="col-xs-12">
                                                <div class="form-group local-forms">
                                                    <label >Hypothesized Function(s)<span class="login-danger">*</span></label>
                                                    <textarea class="form-control" name="hypothesized_functions" [(ngModel)]="hypothesized_functions" rows="3" cols="30"></textarea>
                                                </div>
                                            </div>
                                            <div class="col-12 mb-3 doctor-submit text-end">
                                                <button class="btn btn-primary btn-sm" (click)="addAssesstment()">Add</button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xs-12">
                                        <div class="table-responsive">
                                            <table class="table mb-0">
                                                <thead>
                                                    <tr>
                                                        <th>Prevalent Setting Events & Antecedents</th>
                                                        <th>Behavior</th>
                                                        <th>Hypothesized Function(s)</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr *ngFor="let assesstment of prevalent_setting_event_and_atecedents; let i = index">
                                                        <td>
                                                            {{assesstment.prevalent_setting_event_and_atecedent}}
                                                        </td>
                                                        <td>
                                                             {{assesstment.behavior}}
                                                        </td>
                                                        <td>
                                                            {{assesstment.hypothesized_functions}}
                                                        </td>
                                                        <td>
                                                            <button class="btn btn-outline-danger btn-sm" (click)="deleteAssesstment(i)">x</button>
                                                        </td>
                                                    </tr>
                                                    
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                    
                                </div>
                                
                            </div>
                        </div>
                    </div>
                    <!-- Assestments -->
                        
                    </div>
                    
                    
                    <!-- validaciones -->
                   
                    <div class="form-group row" *ngIf="text_validation">
                        <div class="col-md-12">
                            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                                <strong>!</strong> {{text_validation}}.
                                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true"> </span>
                                </button>
                            </div>
                        </div>
                    </div>
                    <!-- validaciones -->
                    
                    <div class="col-12">
                        <div class="doctor-submit text-end">
                            <button type="button" class="btn btn-primary submit-form me-2" (click)="save()">Save</button>
                        </div>
                    </div>
                </div>
                
            </form>
            
        </div>
    </div>
        
</div>
<!-- fin Assestment2 -->	


<!-- interventions -->
<div class="col-sm-12">
    <div class="card">
        <div class="card-body">
            <form autocomplete="false">
                <div class="row" >
                    <div class="row align-items-center" >
                    <div class="col-12">
                        <div class="card-box">
                            <div class="card-block">
                                <h3 class="card-title">Interventions</h3>
                                
                                <div class="row align-items-center" >
                                    <div class="col-xs-12 ">
                                        <div class="row">
                                            <p>The teaching strategies described will be used either through Discrete Trials interventions or Natural Environment
                                                approaches:
                                                </p>
                                                <div class="col-xs-12 col-sm-6">
                                                    <h4>Differential Reinforcement of Alternative Behaviors</h4>
                                            <p>
                                                Differential reinforcement of alternative behaviors will involve delivery of reinforcement each time the alternative
                                                behavior occurs while extinguishing problem behavior. Initially, reinforcement (praise, small edibles, access to tangibles)
                                                will be provided on a continuous schedule and then thinned to an intermittent schedule.
                                                
                                                </p>
                                                </div>
                                                <div class="col-xs-12 col-sm-6">
                                                    <h4>Redirection</h4>
                                                <p>
                                                    This will be used to redirect the consumer to alternative activities when she engages in elopement, Physical
                                                    aggression, etc. Redirection will be used either during precursor behaviors or after a period of no maladaptives if a
                                                    maladaptive behavior has occurred.</p>
                                                </div>
                                                <div class="col-xs-12 col-sm-6">
                                                    <h4>Response Block</h4>
                                                <p>
                                                    
                                                    When Client attempts to engage in aggression, elopement, caregiver will use response block to prevent it, while
                                                    minimizing eye contact and talking. The response block should not last for more than 15 seconds. This technique does not
                                                    involve restraint. Problem behavior responses are blocked without grabbing the individual. The parent and behavior
                                                    analyst will block by placing their arm or open hand between Client and the area being targeted.
                                                    </p>
                                                </div>
                                                <div class="col-xs-12 col-sm-6">
                                                    <h4>Premack Principle</h4>
                                                    <p>
                                                        
                                                        Client will engage in high-probability behavior, contingent upon completing programming, or chores (less
                                                        probability behavior). Restricting the high-probability activity to below baseline rates will increase its reinforcing
                                                        efficacy. To ensure that the high-probability activity will function as a reinforcer, this activity will only be available
                                                        contingent upon the completion of the low-probability activity.
                                                        </p>
                                                </div>
                                                   <div class="col-xs-12 col-sm-6">
                                                    <h4>Shaping</h4>
                                                        <p>
                                                            
                                                            
                                                            Will be used to build target behaviors that do not yet exist such as waiting for tangibles, requesting tangibles,
                                                            sharing/taking turns, interacting with peers, etc. Approximations to the target behavior will be consistently reinforced.
                                                            </p>
                                                   </div> 
                                                    <div class="col-xs-12 col-sm-6">
                                                        <h4>Escape Extinction</h4>
                                                        <p>
                                                            As some of her behaviors are reinforced by escape from demands, extinction will be utilized to eliminate escape
                                                            after the mentioned maladaptive behaviors. Client will be given a direction to complete a task, if maladaptive behaviors
                                                            occur, then physical guidance (gently placing hand on her back and or hand over hand) will be used so that Client will not
                                                            be able to escape from the demand or task. Regardless of how long Client engages in these behaviors caregivers will
                                                            continue to present the demand and use physical guidance for two minutes maximum to prevent escape. Praise will be
                                                            provided as Client completes each step of the task and a tangible when she completes all the steps.
                                                            Escape independent response delivery</p>
                                                    </div>
                                                            
                                        </div>
                                    </div>
                                    
                                </div>
                                
                            </div>
                        </div>
                    </div>
                        
                    </div>
                    
                </div>
                
            </form>
            
        </div>
    </div>
        
</div>
<!-- fin interventions -->		