 <!-- other -->
 <div class="col-sm-12">
    <div class="card">
        <div class="card-body">
            <div class="row align-items-center" >
                <div class="col-12">
                    <div class="card-box">
                        <div class="card-block">
                            <h3 class="card-title">Consent to Treatment</h3>
                            <div class="row align-items-center" >
                                <div class="col-xs-12">
                                    <p>
                                        As some of her behaviors are reinforced by escape from demands, extinction will be utilized to eliminate escape
                                        after the mentioned maladaptive behaviors. Client will be given a direction to complete a task, if maladaptive behaviors
                                        occur, then physical guidance (gently placing hand on her back and or hand over hand) will be used so that Client will not
                                        be able to escape from the demand or task. Regardless of how long Client engages in these behaviors caregivers will
                                        continue to present the demand and use physical guidance for two minutes maximum to prevent escape. Praise will be
                                        provided as Client completes each step of the task and a tangible when she completes all the steps.
                                        Escape independent response delivery</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                </div>
            
        </div>
    </div>
        
</div>
 <div class="col-sm-12">
    <div class="card">
        <div class="card-body">
            <form autocomplete="false">
                <div class="row" >
                    <div class="col-12">
                        <div class="form-heading">
                            <h4>Confirmation</h4>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 col-xl-6">
                        <div class="form-group local-top-form">
                            <label class="local-top">Analyst Signature <span class="login-danger">*</span></label>
                            <div class="settings-btn upload-files-avator">
                                <input type="file" accept="image/*" name="image" id="file" (change)="loadFile($event)" class="hide-input">
                                <label for="file" class="upload">Choose File</label>
                            </div>
                        </div>
                        <div *ngIf="FILE_AVATAR">
                            <img [src]="IMAGE_PREVISUALIZA" style="width: 250px;" alt="">
                        </div>
                    </div>
                    <div class="col-12 col-md-6 col-xl-6">
                        <div class="form-group local-forms">
                            <label >Analyst Signature date<span class="login-danger">*</span></label>
                            <input class="form-control datetimepicker" name="birth_date" [(ngModel)]="analist_signature_date" type="text" matInput [matDatepicker]="pickerAnalyst"  >
                            <mat-datepicker #pickerAnalyst></mat-datepicker>
                            <mat-datepicker-toggle matIconSuffix [for]="pickerAnalyst"></mat-datepicker-toggle>
                        </div>
                    </div>
                    
                    
                    <div class="col-12 col-md-6 col-xl-6">
                        <div class="form-group local-top-form">
                            <label class="local-top">Parent/Guardian/Caregiver Signature: <span class="login-danger">*</span></label>
                            <div class="settings-btn upload-files-avator">
                                <input type="file" accept="image/*" name="image" id="file" (change)="loadFile($event)" class="hide-input">
                                <label for="file" class="upload">Choose File</label>
                            </div>
                        </div>
                        <div *ngIf="FILE_AVATAR">
                            <img [src]="IMAGE_PREVISUALIZA" style="width: 250px;" alt="">
                        </div>
                    </div>

                    <div class="col-12 col-md-6 col-xl-6">
                        <div class="form-group local-forms">
                            <label >Guardian Signature day<span class="login-danger">*</span></label>
                            <input class="form-control datetimepicker" name="birth_date" [(ngModel)]="guardian_signature_date" type="text" matInput [matDatepicker]="pickerGuardian"  >
                            <mat-datepicker #pickerGuardian></mat-datepicker>
                            <mat-datepicker-toggle matIconSuffix [for]="pickerGuardian"></mat-datepicker-toggle>
                        </div>
                    </div>
                    
                    
                    
                    <div class="col-12" *ngIf="valid_form">
                        <div class="form-group row" *ngIf="text_success">
                            <div class="col-md-12">
                                <div class="alert alert-success alert-dismissible fade show" role="alert">
                                    <strong>Success!</strong> The user has been created sucessfully.
                                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
                                        <span aria-hidden="true"> </span>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="form-group row" *ngIf="text_validation">
                            <div class="col-md-12">
                                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                                    <strong>!</strong> {{text_validation}}.
                                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
                                        <span aria-hidden="true"> </span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="doctor-submit text-end">
                            <button type="button" class="btn btn-primary submit-form me-2" (click)="save()">Save</button>
                            
                        </div>
                    </div>
                </div>
                
            </form>
            
        </div>
    </div>
        
</div>
