<div class="page-wrapper">
    <div class="content">
    
        <!-- Page Header -->
        <div class="page-header">
            <div class="row">
                <div class="col-sm-12">
                    <!-- <ul class="breadcrumb">
                        <li class="breadcrumb-item active"><a routerLink="/patients/list">Client List / </a></li>
                        <li class="breadcrumb-item"><a [routerLink]="['/note-rbt/listbyclient/', patient_id]">Note Rbt List </a></li>
                        <li class="breadcrumb-item"><i class="feather icon-chevron-right"></i></li>
                        <li class="breadcrumb-item active"> Edit RBT Note </li>
                    </ul> -->
                    <div class=" doctor-submit text-start">
                        <button class="btn btn-primary btn-sm " (click)="goBack() ">Back</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- /Page Header -->
        <div class="row">
            <!-- paciente -->
            <div class="col-sm-12">
                <div class="card">
                    <div class="card-body">
                        <form autocomplete="false">
                            
                            <!-- paciente -->
                            <div class="row align-items-center py-4" >
                                <div class="col-12 py-4">
                                    <h4>Data Client</h4>
                                </div>
                                <div class="col-12 col-md-6 col-xl-4">
                                    <div class="form-group local-forms">
                                        <label >Patient ID <span class="login-danger">*</span></label>
                                        <input class="form-control"  name="patient_id"  disabled [(ngModel)]="patient_id" type="text"  >
                                    </div>
                                </div>
                                <div class="col-12 col-md-6 col-xl-4">  
                                    <div class="form-group local-forms">
                                        <label >First Name <span class="login-danger">*</span></label>
                                        <input class="form-control" name="first_name"  disabled [(ngModel)]="first_name" type="text"  >
                                    </div>
                                </div>
                                <div class="col-12 col-md-6 col-xl-4">
                                    <div class="form-group local-forms">
                                        <label >Last Name <span class="login-danger">*</span></label>
                                        <input class="form-control" name="last_name"  disabled [(ngModel)]="last_name" type="text"  >
                                    </div>
                                </div>
                               
                                <div class="col-12 col-md-6 col-xl-4">
                                    <div class="form-group local-forms">
                                        <label >Diagnosis Code <span class="login-danger">*</span></label>
                                        <input class="form-control" name="diagnosis_code"  disabled [(ngModel)]="diagnosis_code" type="text"  >
                                    </div>
                                </div>
                              
                                <div class="col-12 col-md-6 col-xl-4">
                                    <div class="form-group local-forms">
                                        <label >Provider Name  <span class="login-danger">*</span></label>
                                        <mat-select [(ngModel)]="selectedValueProviderName" name="provider_name_g" [ngModelOptions]="{standalone: true}" class="form-control select" (selectionChange)="selectSpecialist($event)"  placeholder="Select Specialist">
                                            <mat-option *ngFor="let data of roles_rbt" [value]="data.id">
                                            {{data.name}} {{data.surname}}
                                            </mat-option>
                                        </mat-select>

                                    </div>
                                </div>
                                <div class="col-12 col-md-6 col-xl-4">
                                    <div class="form-group local-forms">
                                        <label >Provider Credential <span class="login-danger">*</span></label>
                                        <input class="form-control" name="provider_credential"   [(ngModel)]="provider_credential" type="text"  >
                                    </div>
                                </div>
                                <div class="col-12 col-md-6 col-xl-4">
                                    <div class="form-group local-forms">
                                        <label >POS <span class="login-danger">*</span></label>
                                        <input class="form-control" name="pos" disabled
                                            [(ngModel)]="pos" type="text">
                                        <!-- <select
                                        class="form-control form-select-solid fw-bolder"
                                        name="pos" [(ngModel)]="pos" disabled>
                                        <option>-- Select --</option>
                                        <option value="03">03 School</option>
                                        <option value="12">12 Home</option>
                                        <option value="02">02 Telehealth</option>
                                        <option value="99">99 Other</option>
                                          </select> -->
                                    </div>
                                </div>
                                <div class="col-12 col-md-6 col-xl-4">
                                    <div class="form-group local-forms">
                                        <label >Date <span class="login-danger">*</span></label>
                                        <input class="form-control datetimepicker" autocomplete="false" name="session_date" [(ngModel)]="session_date" type="text" matInput [matDatepicker]="pickerSesDate"  >
                                        <mat-datepicker #pickerSesDate></mat-datepicker>
                                        <mat-datepicker-toggle matIconSuffix [for]="pickerSesDate"></mat-datepicker-toggle>
                                    </div>
                                </div>
                                <div class="clear"></div>
                                <div class="col-12 col-md-6 col-xl-3">
                                    <div class="form-group local-forms">
                                        <label >Time In <span class="login-danger">*</span></label>
                                        
                                        <input [ngxTimepicker]="toggleTimepicker" [disableClick]="true" readonly  
                                        [(ngModel)]="selectedValueTimeIn" name="time_in" [format]="24"  (onChange)="hourTimeInSelected($event)" [ngModelOptions]="{standalone: true}">
                                        <ngx-material-timepicker-toggle [for]="toggleTimepicker"></ngx-material-timepicker-toggle>
                                        <ngx-material-timepicker #toggleTimepicker></ngx-material-timepicker>
                                    </div>
                                </div>
                                <div class="col-12 col-md-6 col-xl-3">
                                    <div class="form-group local-forms">
                                        <label >Time Out <span class="login-danger">*</span></label>
                                        <input [ngxTimepicker]="toggleTimepicker2" [disableClick]="true" readonly  
                                        [(ngModel)]="selectedValueTimeOut" name="time_out" [format]="24"  (onChange)="hourTimeOutSelected($event)" [ngModelOptions]="{standalone: true}">
                                        <ngx-material-timepicker-toggle [for]="toggleTimepicker2"></ngx-material-timepicker-toggle>
                                        <ngx-material-timepicker #toggleTimepicker2></ngx-material-timepicker>
                                    </div>
                                </div>
                                <div class="col-12 col-md-6 col-xl-3">
                                    <div class="form-group local-forms">
                                        <label >Time In <span class="login-danger">*</span></label>
                                        <input [ngxTimepicker]="toggleTimepicker3" [disableClick]="true" readonly  
                                        [(ngModel)]="selectedValueTimeIn2" name="time_in2" [format]="24"  (onChange)="hourTimeInSelected($event)" [ngModelOptions]="{standalone: true}">
                                        <ngx-material-timepicker-toggle [for]="toggleTimepicker3"></ngx-material-timepicker-toggle>
                                        <ngx-material-timepicker #toggleTimepicker3></ngx-material-timepicker>
                                    </div>
                                </div>
                                <div class="col-12 col-md-6 col-xl-3">
                                    <div class="form-group local-forms">
                                        <label >Time Out <span class="login-danger">*</span></label>
                                        <input [ngxTimepicker]="toggleTimepicker4" [disableClick]="true" readonly  
                                        [(ngModel)]="selectedValueTimeOut2" name="time_out2" [format]="24"  (onChange)="hourTimeInSelected($event)" [ngModelOptions]="{standalone: true}">
                                        <ngx-material-timepicker-toggle [for]="toggleTimepicker4"></ngx-material-timepicker-toggle>
                                        <ngx-material-timepicker #toggleTimepicker4></ngx-material-timepicker>
                                    </div>
                                </div>
                                <div class="col-12 col-md-6 col-xl-4">
                                    <div class="form-group local-forms">
                                        <label >Session Length Total<span class="login-danger">*</span></label>
                                        <input class="form-control" name="session_length_total"   [(ngModel)]="session_length_total" type="text"  >
                                    </div>
                                </div>
                                <div class="col-12 col-md-6 col-xl-4">
                                    <div class="form-group local-forms">
                                        <label >Session Length Total<span class="login-danger">*</span></label>
                                        <input class="form-control" name="session_length_total2"   [(ngModel)]="session_length_total2" type="text"  >
                                    </div>
                                </div>
                                <div class="col-12 col-md-6 col-xl-4">
                                    <div class="form-group local-forms">
                                        <label >environmental changes<span class="login-danger">*</span></label>
                                        <input class="form-control" name="environmental_changes"   [(ngModel)]="environmental_changes" type="text"  >
                                    </div>
                                </div>
                            </div>
                            <!-- paciente -->
                        </form>
                        
                    </div>
                </div>	
                	
            </div>
            <!-- fin paciente -->

            <!-- pruba grafica -->
            <div class="col-xs-12">
                <div class="card">
                    <div class="card-body">
                        <div class="col-12">
                            <h4>Maladaptives</h4>
                            <p class="text-danger">Note: Please fill out all fields and save each Maladaptive, if you didn't have any reaction, enter "0"</p>
                        </div>
                        <div class="container">
                            <form autocomplete="false">
                            <div class="row">
                                <ng-container *ngFor="let behavior of maladaptivegroup; let i = index">
                                    <div class="col-xs-12 col-sm-3  graphic-value" >
                                        <!-- <div  class="circle-bar circle-bar2">
                                            <circle-progress class="circle-progress-bar" [percent]="behavior.number_of_occurrences" [clockwise]="true"
                                            innerStrokeColor=#dee2e6 outerStrokeColor=#2E37A4></circle-progress>
                                            {{behavior.number_of_occurrences}}
                                        </div> -->
                                        <div class="title">
                                            <h4 class="label">{{behavior.maladaptive_behavior}}</h4>
                                        </div>
                                        <input class="form-control" name="number_of_occurrences " [ngModelOptions]="{standalone: true}" [(ngModel)]="behavior.number_of_occurrences" type="number" value="0" >
                                        <div class="qty">
                                            <!-- <span class="minus bg-dark">-</span>
                                            <input type="number" class="count" onchange="countValue1()" [ngModelOptions]="{standalone: true}" [(ngModel)]="number_of_occurrences"  name="number_of_occurrences" [value]="behavior.number_of_occurrences">
                                            <span class="plus bg-dark">+</span> -->
                                        </div>

                                        <button class="btn btn-outline-success btn-sm" (click)="addMaladaptive(behavior, i)">Save</button>
                                    </div>
                                </ng-container>
                            </div>
                            </form>
                                
                                
                        </div>
                    </div>
                </div>
            </div>
            <!-- pruba grafica -->

            <!-- pruba grafica replacements -->
            <div class="col-xs-12">
                <div class="card">
                    <div class="card-body">
                        <div class="col-12">
                            <h4>Replacements</h4>
                            <p class="text-danger">Note: Please fill out all fields and save each STO. If the treatment has not started, enter "0"</p>
                        </div>
                        <div class="container">
                            <form autocomplete="false">
                            <div class="row">
                                <ng-container *ngFor="let replacemen of replacementgroup; let i = index">
                                    <div class="col-xs-12 col-sm-3  graphic-value" >
                                        <!-- <div class="row">
                                            <div class="col-6 minigr">
                                                <div  class="circle-bar circle-bar2">
                                                    <circle-progress class="circle-progress-bar" [percent]="replacemen.total_trials" [clockwise]="true"
                                                    innerStrokeColor=#dee2e6 outerStrokeColor=#2E37A4></circle-progress>
                                                    <h4 class="text-center">{{replacemen.total_trials}}</h4>
                                                </div>
                                            </div>
                                            <div class="col-6 minigr">
                                                <div  class="circle-bar circle-bar2">
                                                    <circle-progress class="circle-progress-bar" [percent]="replacemen.number_of_correct_response" [clockwise]="true"
                                                    innerStrokeColor=#dee2e6 outerStrokeColor=#2E37A4></circle-progress>
                                                    <h4 class="text-center">{{replacemen.number_of_correct_response}}</h4>
                                                    
                                                </div>
                                            </div>
                                        </div> -->
                                        <div class="title">
                                            <h4 class="label">{{replacemen.goal}}</h4>
                                            <p class="text-center"> {{(replacemen.number_of_correct_response * 100 / replacemen.total_trials)}}%</p>
                                        </div>
                                        <label for="">Total Trials:</label>
                                        <input class="form-control" name="total_trials " [ngModelOptions]="{standalone: true}" [(ngModel)]="replacemen.total_trials" type="number"  value="0"  >
                                        <label for="">Correct response</label>
                                        <input class="form-control" name="number_of_correct_response " [ngModelOptions]="{standalone: true}" [(ngModel)]="replacemen.number_of_correct_response" type="number" value="0"   >
                                        <div class="qty">
                                            <!-- <span class="minus bg-dark">-</span>
                                            <input type="number" class="count" onchange="countValue1()" [ngModelOptions]="{standalone: true}" [(ngModel)]="number_of_occurrences"  name="number_of_occurrences" [value]="behavior.number_of_occurrences">
                                            <span class="plus bg-dark">+</span> -->
                                        </div>

                                        <button class="btn btn-outline-success btn-sm" (click)="addReplacement(replacemen)">Save</button>
                                    </div>
                                </ng-container>
                            </div>
                            </form>
                                
                                
                        </div>
                    </div>
                </div>
            </div>
            <!-- pruba grafica replacements-->

            <!-- interventions -->
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <div class="col-12">
                            <h4>Interventions</h4>
                        </div>
                        <div class="container">
                            <form autocomplete="false">

                                <div class="col-xs-12">  
                                    <div class="row">  
                                        
                                        <div class="col-xs-12 col-sm-3">

                                            <div class="form-group ">
                                                <div _ngcontent-rhp-c92="" class="card-header d-flex justify-content-between align-items-center">
                                                    <h5 _ngcontent-rhp-c92="" class="card-title">Pairing</h5>
                                                    <div _ngcontent-rhp-c92="" class="status-toggle d-flex justify-content-between align-items-center">
                                                        <input _ngcontent-rhp-c92="" type="checkbox" id="pairing" class="check" name="pairing" [ngModelOptions]="{standalone: true}" [(ngModel)]="pairing">
                                                        <label _ngcontent-rhp-c92="" for="pairing" class="checktoggle" value="true">checkbox</label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-xs-12 col-sm-3">

                                            <div class="form-group ">
                                                <div _ngcontent-rhp-c92="" class="card-header d-flex justify-content-between align-items-center">
                                                    <h5 _ngcontent-rhp-c92="" class="card-title">Response Block</h5>
                                                    <div _ngcontent-rhp-c92="" class="status-toggle d-flex justify-content-between align-items-center">
                                                        <input _ngcontent-rhp-c92="" type="checkbox" id="response_block" class="check" name="response_block" [ngModelOptions]="{standalone: true}" [(ngModel)]="response_block">
                                                        <label _ngcontent-rhp-c92="" for="response_block" class="checktoggle" value="true">checkbox</label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-xs-12 col-sm-3">

                                            <div class="form-group ">
                                                <div _ngcontent-rhp-c92="" class="card-header d-flex justify-content-between align-items-center">
                                                    <h5 _ngcontent-rhp-c92="" class="card-title">DRA</h5>
                                                    <div _ngcontent-rhp-c92="" class="status-toggle d-flex justify-content-between align-items-center">
                                                        <input _ngcontent-rhp-c92="" type="checkbox" id="DRA" class="check" name="DRA" [ngModelOptions]="{standalone: true}" [(ngModel)]="DRA">
                                                        <label _ngcontent-rhp-c92="" for="DRA" class="checktoggle" value="true">checkbox</label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-xs-12 col-sm-3">

                                            <div class="form-group ">
                                                <div _ngcontent-rhp-c92="" class="card-header d-flex justify-content-between align-items-center">
                                                    <h5 _ngcontent-rhp-c92="" class="card-title">DRO</h5>
                                                    <div _ngcontent-rhp-c92="" class="status-toggle d-flex justify-content-between align-items-center">
                                                        <input _ngcontent-rhp-c92="" type="checkbox" id="DRO" class="check" name="DRO" [ngModelOptions]="{standalone: true}" [(ngModel)]="DRO">
                                                        <label _ngcontent-rhp-c92="" for="DRO" class="checktoggle" value="true">checkbox</label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-xs-12 col-sm-3">

                                            <div class="form-group ">
                                                <div _ngcontent-rhp-c92="" class="card-header d-flex justify-content-between align-items-center">
                                                    <h5 _ngcontent-rhp-c92="" class="card-title">Redirection</h5>
                                                    <div _ngcontent-rhp-c92="" class="status-toggle d-flex justify-content-between align-items-center">
                                                        <input _ngcontent-rhp-c92="" type="checkbox" id="redirection" class="check" name="redirection" [ngModelOptions]="{standalone: true}" [(ngModel)]="redirection">
                                                        <label _ngcontent-rhp-c92="" for="redirection" class="checktoggle" value="true">checkbox</label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-xs-12 col-sm-3">

                                            <div class="form-group ">
                                                <div _ngcontent-rhp-c92="" class="card-header d-flex justify-content-between align-items-center">
                                                    <h5 _ngcontent-rhp-c92="" class="card-title">Errorless Teaching</h5>
                                                    <div _ngcontent-rhp-c92="" class="status-toggle d-flex justify-content-between align-items-center">
                                                        <input _ngcontent-rhp-c92="" type="checkbox" id="errorless_teaching" class="check" name="errorless_teaching" [ngModelOptions]="{standalone: true}" [(ngModel)]="errorless_teaching">
                                                        <label _ngcontent-rhp-c92="" for="errorless_teaching" class="checktoggle" value="true">checkbox</label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-xs-12 col-sm-3">

                                            <div class="form-group ">
                                                <div _ngcontent-rhp-c92="" class="card-header d-flex justify-content-between align-items-center">
                                                    <h5 _ngcontent-rhp-c92="" class="card-title">NCR</h5>
                                                    <div _ngcontent-rhp-c92="" class="status-toggle d-flex justify-content-between align-items-center">
                                                        <input _ngcontent-rhp-c92="" type="checkbox" id="NCR" class="check" name="NCR" [ngModelOptions]="{standalone: true}" [(ngModel)]="NCR">
                                                        <label _ngcontent-rhp-c92="" for="NCR" class="checktoggle" value="true">checkbox</label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-xs-12 col-sm-3">

                                            <div class="form-group ">
                                                <div _ngcontent-rhp-c92="" class="card-header d-flex justify-content-between align-items-center">
                                                    <h5 _ngcontent-rhp-c92="" class="card-title">Shaping</h5>
                                                    <div _ngcontent-rhp-c92="" class="status-toggle d-flex justify-content-between align-items-center">
                                                        <input _ngcontent-rhp-c92="" type="checkbox" id="shaping" class="check" name="shaping" [ngModelOptions]="{standalone: true}" [(ngModel)]="shaping">
                                                        <label _ngcontent-rhp-c92="" for="shaping" class="checktoggle" value="true">checkbox</label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-xs-12 col-sm-3">

                                            <div class="form-group ">
                                                <div _ngcontent-rhp-c92="" class="card-header d-flex justify-content-between align-items-center">
                                                    <h5 _ngcontent-rhp-c92="" class="card-title">Chaining</h5>
                                                    <div _ngcontent-rhp-c92="" class="status-toggle d-flex justify-content-between align-items-center">
                                                        <input _ngcontent-rhp-c92="" type="checkbox" id="chaining" class="check" name="chaining" [ngModelOptions]="{standalone: true}" [(ngModel)]="chaining">
                                                        <label _ngcontent-rhp-c92="" for="chaining" class="checktoggle" value="true">checkbox</label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-xs-12 col-sm-3">

                                            <div class="form-group ">
                                                <div _ngcontent-rhp-c92="" class="card-header d-flex justify-content-between align-items-center">
                                                    <h5 _ngcontent-rhp-c92="" class="card-title">Token Economy</h5>
                                                    <div _ngcontent-rhp-c92="" class="status-toggle d-flex justify-content-between align-items-center">
                                                        <input _ngcontent-rhp-c92="" type="checkbox" id="token_economy" class="check" name="token_economy" [ngModelOptions]="{standalone: true}" [(ngModel)]="token_economy">
                                                        <label _ngcontent-rhp-c92="" for="token_economy" class="checktoggle" value="true">checkbox</label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-xs-12 col-sm-3">

                                            <div class="form-group ">
                                                <div _ngcontent-rhp-c92="" class="card-header d-flex justify-content-between align-items-center">
                                                    <h5 _ngcontent-rhp-c92="" class="card-title">Extinction</h5>
                                                    <div _ngcontent-rhp-c92="" class="status-toggle d-flex justify-content-between align-items-center">
                                                        <input _ngcontent-rhp-c92="" type="checkbox" id="extinction" class="check" name="extinction" [ngModelOptions]="{standalone: true}" [(ngModel)]="extinction">
                                                        <label _ngcontent-rhp-c92="" for="extinction" class="checktoggle" value="true">checkbox</label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-xs-12 col-sm-3">

                                            <div class="form-group ">
                                                <div _ngcontent-rhp-c92="" class="card-header d-flex justify-content-between align-items-center">
                                                    <h5 _ngcontent-rhp-c92="" class="card-title">Natural Teaching</h5>
                                                    <div _ngcontent-rhp-c92="" class="status-toggle d-flex justify-content-between align-items-center">
                                                        <input _ngcontent-rhp-c92="" type="checkbox" id="natural_teaching" class="check" name="natural_teaching" [ngModelOptions]="{standalone: true}" [(ngModel)]="natural_teaching">
                                                        <label _ngcontent-rhp-c92="" for="natural_teaching" class="checktoggle" value="true">checkbox</label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        
                                        <div class="col-12 mb-3 doctor-submit text-end">
                                            <button class="btn btn-primary btn-sm" (click)="addInterventions()">Update Intervention</button>
                                        </div>
                                        
                                    </div>
                                </div>
                                <!-- Interventions -->
                                
                            </form>
                        </div>
                        
                    </div>
                </div>	
                	
            </div>
            <!-- fin interventions -->

            <!-- paciente -->
            <div class="col-sm-12">
                <div class="card">
                    <div class="card-body">
                        <form autocomplete="false">
                            
                            <!-- paciente -->
                            <div class="row align-items-center py-4" >
                                <div class="col-12">
                                    <div class="form-group local-forms">
                                        <h4>Summary Note</h4>
                                        <p>Client has been diagnosed with Autism Spectrum Disorder (ASD) according to the criteria outlined in the Diagnostic and Statistical Manual of Mental Disorders, Fifth Edition (DSM-5).</p>
                                    </div>
                                </div>
                                <div class="col-12 col-md-4">  
                                    <div class="form-group local-forms">
                                        <label >Met with client at  <span class="login-danger">*</span></label>
                                      
                                              <select
                                        class="form-control form-select-solid fw-bolder"
                                        name="meet_with_client_at" [(ngModel)]="meet_with_client_at" disabled>
                                        <option>-- Select --</option>
                                        <option value="03">03 School</option>
                                        <option value="12">12 Home</option>
                                        <option value="02">02 Telehealth</option>
                                        <option value="99">99 Other</option>
                                          </select>
                                    </div>
                                </div>
                                <div class="col-12 col-md-4">
                                    <div class="form-group local-forms">
                                        <label >Client appeared  <span class="login-danger">*</span></label>
                                        <select class="form-control form-select-solid fw-bolder" [(ngModel)]="client_appeared" name="client_appeared"
                                            [(ngModel)]="client_appeared">
                                            <option>-- Select --</option>
                                            <option value="happy">Happy</option>
                                            <option value="sad">Sad</option>
                                            <option value="excited">Excited</option>
                                            <option value="tired">Tired</option>
                                            <option value="agressive">Agressive</option>
                                            <option value="distracted">Distracted</option>
                                            <option value="calm">Calm</option>
                                            <option value="angry">Angry</option>
                                            <option value="suprised">Suprised</option>
                                            <option value="fearful">Fearful</option>
                                            <option value="disgusted">Disgusted</option>
                                            <option value="content">Content</option>
                                            <option value="nervous">nervous</option>
                                            <option value="confused">Confused</option>
                                            <option value="relieved">Relieved</option>
                                            <option value="frustrated">frustrated</option>
                                            <option value="amused">Amused</option>
                                            <option value="bored">Bored</option>
                                            <option value="proud">proud</option>
                                            <option value="insecure">Insecure</option>
                                            <option value="anxios">Anxios</option>
                                            <option value="curious">Curious</option>
                                            <option value="enthusiastic">Enthusiastic</option>
                                        </select>
                                    </div>
                                </div>
                               
                                <div class="col-12 col-md-4">
                                    <div class="form-group local-forms">
                                        <label >as evidenced by  <span class="login-danger">*</span></label>
                                        <input class="form-control" name="as_evidenced_by"   [(ngModel)]="as_evidenced_by" type="text"  >
                                        <!-- <select
                                            class="form-control form-select-solid fw-bolder"
                                            name="as_evidenced_by" [(ngModel)]="as_evidenced_by">
                                            <option>-- Select --</option>
                                              <option value="waiting">Happy</option>
                                              <option value="requested">Sad</option>
                                              <option value="reviewing">Hungry</option>
                                              </select> -->
                                    </div>
                                </div>
                                <div class="col-12 ">
                                    <p>The replacements and interventions described above are outlined in the behavior plan and were implemented throughout the session</p>
                                </div>
                                <div class="col-12 col-md-6 ">
                                    <div class="form-group local-forms">
                                        <label >RBT modeled and demonstrated to caregiver<span class="login-danger">*</span></label>
                                        <textarea class="form-control" name="rbt_modeled_and_demonstrated_to_caregiver" [(ngModel)]="rbt_modeled_and_demonstrated_to_caregiver" rows="4" cols="30"></textarea>
                                    </div>
                                </div>
                                <div class="col-12 col-md-6 ">
                                    <div class="form-group local-forms">
                                        <label >Client response to treatment this session <span class="login-danger">*</span></label>
                                        <textarea class="form-control" name="client_response_to_treatment_this_session" [(ngModel)]="client_response_to_treatment_this_session" rows="4" cols="30"></textarea>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-7 ">
                                   <p>Responding this session could have been affected by environmental changes above</p>
                                   <div class="form-group local-forms">
                                       <label >Progress noted this session compared to previous session  <span class="login-danger">*</span></label>
                                       <select
                                            class="form-control form-select-solid fw-bolder"
                                            name="progress_noted_this_session_compared_to_previous_session" [(ngModel)]="progress_noted_this_session_compared_to_previous_session">
                                            <option>-- Select --</option>
                                            <option value="excelent">Excelent</option>
                                            <option value="moderate">Moderate</option>
                                            <option value="good">Good</option>
                                            <option value="minimal">Minimal</option>
                                              </select>
                                   </div>
                                </div>
                                <div class="col-xs-12 col-sm-5 ">
                                   <p>Data was collected within the session (see table above).</p>
                                   <div class="col-12 ">
                                    <div class="form-group local-forms">
                                        <label >Next session is scheduled for <span class="login-danger">*</span></label>
                                        <input class="form-control datetimepicker" autocomplete="false" name="next_session_is_scheduled_for" [(ngModel)]="next_session_is_scheduled_for" type="text" matInput [matDatepicker]="pickerNextSess"  >
                                        <mat-datepicker #pickerNextSess></mat-datepicker>
                                        <mat-datepicker-toggle matIconSuffix [for]="pickerNextSess"></mat-datepicker-toggle>
                                    </div>
                                   </div>
                                </div>
                                <div class="col-12">
                                    <p>the RBT will continue working with the goals as stated in behavior plan.</p>
                                </div>
                                
                                <div class="col-12 col-md-6 col-xl-4">
                                    <div class="form-group local-forms">
                                        <label>Provider name RBT <span class="login-danger">*</span></label>
                                        <mat-select [(ngModel)]="selectedValueRBT" name="rbt"
                                            [ngModelOptions]="{standalone: true}" class="form-control select"
                                            placeholder="Select Specialist"
                                            (selectionChange)="selectFirmaSpecialistRbt($event)" value="select">
                                            <mat-option value="select">--Select-</mat-option> 
                                            <mat-option *ngFor="let data of roles_rbt" [value]="data.id">
                                                {{data.name}} {{data.surname}}
                                            </mat-option>
                                        </mat-select>
                                    </div>
                                </div>
                                <div class="col-12 col-md-6 col-xl-6">
                                    <div class="form-group local-top-form">
                                        <label class="local-top">Provider Signature <span class="login-danger">*</span></label>
                                        <!-- <div class="settings-btn upload-files-avator">
                                            <input type="file" accept="image/*" name="provider_signature" id="file" 
                                            (change)="loadFile($event)" class="hide-input">
                                            <label for="file" class="upload">Choose File</label>
                                        </div> -->
                                    </div>
            
                                    <!-- previsualizacion de la foto -->
                                    <div *ngIf="FILE_SIGNATURE_RBT">
                                        <img [src]="IMAGE_PREVISUALIZA_SIGNATURE__RBT" style="width: 250px;" alt="">
                                    </div>
                                    <div *ngIf="IMAGE_PREVISUALIZA_SIGNATURE__RBT_CREATED">
                                        <img [src]="IMAGE_PREVISUALIZA_SIGNATURE__RBT_CREATED" style="width: 250px;" alt="">
                                    </div>
                                    <!-- previsualizacion de la foto -->
                                </div>


                                

                                <div class="col-12 col-md-6 col-xl-4">
                                    <div class="form-group local-forms">
                                        <div class="form-group local-forms">
                                            <label >Supervisor name BCBA <span class="login-danger">*</span></label>
                                            <mat-select [(ngModel)]="selectedValueBCBA" name="bcba"
                                            [ngModelOptions]="{standalone: true}" class="form-control select"
                                            placeholder="Select Specialist"
                                            (selectionChange)="selectFirmaSpecialistBcba($event)" value="select">
                                            <mat-option value="select">--Select-</mat-option> 
                                            <mat-option *ngFor="let data of roles_bcba" [value]="data.id">
                                                {{data.name}} {{data.surname}}
                                            </mat-option>
                                        </mat-select>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-md-6 col-xl-6">
                                    <div class="form-group local-top-form">
                                        <label class="local-top">Supervisor Signature <span
                                                class="login-danger">*</span></label>
                                        <!-- <div class="settings-btn upload-files-avator">
                                            <input type="file" accept="image/*" name="imagenn" id="file1"
                                                (change)="loadFileSignature($event)" class="hide-input">
                                            <label for="file1" class="upload">Choose File</label>
                                        </div> -->
                                    </div>

                                    <!-- previsualizacion de la foto -->
                                    <div *ngIf="FILE_SIGNATURE_BCBA">
                                        <img [src]="IMAGE_PREVISUALIZA_SIGNATURE_BCBA" style="width: 250px;" alt="">
                                    </div>
                                    <div *ngIf="IMAGE_PREVISUALIZA_SIGNATURE_BCBA_CREATED">
                                        <img [src]="IMAGE_PREVISUALIZA_SIGNATURE_BCBA_CREATED" style="width: 250px;"
                                            alt="">
                                    </div>
                                    <!-- previsualizacion de la foto -->
                                </div>
                                
                            </div>
                            <!-- paciente -->

                            
                            <div class="col-12">
                                <div class="doctor-submit text-end">
                                    <button type="button" class="btn btn-primary submit-form me-2" (click)="save()">Save</button>
                                    
                                </div>
                            </div>
                        </form>
                        
                    </div>
                </div>	
                	
            </div>
            <!-- fin paciente -->
           
            					
        </div>
    </div>
</div>
 