 <!-- other -->
 <div class="col-sm-12">
    <div class="card">
        <div class="card-body">
            
            <form autocomplete="false">
                <div class="row" >

                    <!-- documents -->
                    <div class="col-12">
                        <div class="card-box">
                            <div class="card-block">
                                <h3 class="card-title">Crisis Plan</h3>
                                <div class="row align-items-center" >
                                    <div class="col-xs-12">
                                        <div class="row">
                                            <div class="col-xs-12 ">  
                                                <div class="form-group local-forms">
                                                    <label >Crisis Description<span class="login-danger">*</span></label>
                                                    <textarea class="form-control" name="crisis_description" [(ngModel)]="crisis_description" rows="4" cols="30"></textarea>
                                                </div>
                                            </div>
                                            <h3 class="card-title">Please check risk factors as applicable.</h3>
                                            <div class="col-xs-12">  
                                                <div class="row">  
                                                    
                                                    <div class="col-xs-6 col-sm-3">

                                                        <div class="form-group ">
                                                            <div _ngcontent-rhp-c92="" class="card-header d-flex justify-content-between align-items-center">
                                                                <h5 _ngcontent-rhp-c92="" class="card-title">Does Not Apply</h5>
                                                                <div _ngcontent-rhp-c92="" class="status-toggle d-flex justify-content-between align-items-center">
                                                                    <input _ngcontent-rhp-c92="" type="checkbox" id="do_not_apply"  class="check" name="do_not_apply" [checked]="do_not_apply== true" [ngModelOptions]="{standalone: true}" [(ngModel)]="do_not_apply">
                                                                    <label _ngcontent-rhp-c92="" for="do_not_apply" class="checktoggle" value="true">checkbox</label>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-xs-6 col-sm-3">

                                                        <div class="form-group ">
                                                            <div _ngcontent-rhp-c92="" class="card-header d-flex justify-content-between align-items-center">
                                                                <h5 _ngcontent-rhp-c92="" class="card-title">Elopement</h5>
                                                                <div _ngcontent-rhp-c92="" class="status-toggle d-flex justify-content-between align-items-center">
                                                                    <input _ngcontent-rhp-c92="" type="checkbox" id="elopement" class="check" name="elopement" [ngModelOptions]="{standalone: true}" [(ngModel)]="elopement">
                                                                    <label _ngcontent-rhp-c92="" for="elopement" class="checktoggle" value="true">checkbox</label>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-xs-6 col-sm-3">

                                                        <div class="form-group ">
                                                            <div _ngcontent-rhp-c92="" class="card-header d-flex justify-content-between align-items-center">
                                                                <h5 _ngcontent-rhp-c92="" class="card-title">Assaultive behavior</h5>
                                                                <div _ngcontent-rhp-c92="" class="status-toggle d-flex justify-content-between align-items-center">
                                                                    <input _ngcontent-rhp-c92="" type="checkbox" id="assaultive_behavior" class="check" name="assaultive_behavior" [ngModelOptions]="{standalone: true}" [(ngModel)]="assaultive_behavior">
                                                                    <label _ngcontent-rhp-c92="" for="assaultive_behavior" class="checktoggle" value="true">checkbox</label>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-xs-6 col-sm-3">

                                                        <div class="form-group ">
                                                            <div _ngcontent-rhp-c92="" class="card-header d-flex justify-content-between align-items-center">
                                                                <h5 _ngcontent-rhp-c92="" class="card-title">Aggression</h5>
                                                                <div _ngcontent-rhp-c92="" class="status-toggle d-flex justify-content-between align-items-center">
                                                                    <input _ngcontent-rhp-c92="" type="checkbox" id="aggression" class="check" name="aggression" [ngModelOptions]="{standalone: true}" [(ngModel)]="aggression">
                                                                    <label _ngcontent-rhp-c92="" for="aggression" class="checktoggle" value="true">checkbox</label>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-xs-6 col-sm-3">

                                                        <div class="form-group ">
                                                            <div _ngcontent-rhp-c92="" class="card-header d-flex justify-content-between align-items-center">
                                                                <h5 _ngcontent-rhp-c92="" class="card-title">Self-Injurious Behavior</h5>
                                                                <div _ngcontent-rhp-c92="" class="status-toggle d-flex justify-content-between align-items-center">
                                                                    <input _ngcontent-rhp-c92="" type="checkbox" id="self_injurious_behavior" class="check" name="self_injurious_behavior" [ngModelOptions]="{standalone: true}" [(ngModel)]="self_injurious_behavior">
                                                                    <label _ngcontent-rhp-c92="" for="self_injurious_behavior" class="checktoggle" value="true">checkbox</label>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-xs-6 col-sm-3">

                                                        <div class="form-group ">
                                                            <div _ngcontent-rhp-c92="" class="card-header d-flex justify-content-between align-items-center">
                                                                <h5 _ngcontent-rhp-c92="" class="card-title">Sexually offending behavior</h5>
                                                                <div _ngcontent-rhp-c92="" class="status-toggle d-flex justify-content-between align-items-center">
                                                                    <input _ngcontent-rhp-c92="" type="checkbox" id="sexually_offending_behavior" class="check" name="sexually_offending_behavior" [ngModelOptions]="{standalone: true}" [(ngModel)]="sexually_offending_behavior">
                                                                    <label _ngcontent-rhp-c92="" for="sexually_offending_behavior" class="checktoggle" value="true">checkbox</label>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-xs-6 col-sm-3">

                                                        <div class="form-group ">
                                                            <div _ngcontent-rhp-c92="" class="card-header d-flex justify-content-between align-items-center">
                                                                <h5 _ngcontent-rhp-c92="" class="card-title">Fire setting</h5>
                                                                <div _ngcontent-rhp-c92="" class="status-toggle d-flex justify-content-between align-items-center">
                                                                    <input _ngcontent-rhp-c92="" type="checkbox" id="fire_setting" class="check" name="fire_setting" [ngModelOptions]="{standalone: true}" [(ngModel)]="fire_setting">
                                                                    <label _ngcontent-rhp-c92="" for="fire_setting" class="checktoggle" value="true">checkbox</label>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-xs-6 col-sm-3">

                                                        <div class="form-group ">
                                                            <div _ngcontent-rhp-c92="" class="card-header d-flex justify-content-between align-items-center">
                                                                <h5 _ngcontent-rhp-c92="" class="card-title">Current substance abuse</h5>
                                                                <div _ngcontent-rhp-c92="" class="status-toggle d-flex justify-content-between align-items-center">
                                                                    <input _ngcontent-rhp-c92="" type="checkbox" id="current_substance_abuse" class="check" name="current_substance_abuse" [ngModelOptions]="{standalone: true}" [(ngModel)]="current_substance_abuse">
                                                                    <label _ngcontent-rhp-c92="" for="current_substance_abuse" class="checktoggle" value="true">checkbox</label>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-xs-6 col-sm-3">

                                                        <div class="form-group ">
                                                            <div _ngcontent-rhp-c92="" class="card-header d-flex justify-content-between align-items-center">
                                                                <h5 _ngcontent-rhp-c92="" class="card-title">Impulsive Behavior</h5>
                                                                <div _ngcontent-rhp-c92="" class="status-toggle d-flex justify-content-between align-items-center">
                                                                    <input _ngcontent-rhp-c92="" type="checkbox" id="impulsive_behavior" class="check" name="impulsive_behavior" [ngModelOptions]="{standalone: true}" [(ngModel)]="impulsive_behavior">
                                                                    <label _ngcontent-rhp-c92="" for="impulsive_behavior" class="checktoggle" value="true">checkbox</label>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-xs-6 col-sm-3">

                                                        <div class="form-group ">
                                                            <div _ngcontent-rhp-c92="" class="card-header d-flex justify-content-between align-items-center">
                                                                <h5 _ngcontent-rhp-c92="" class="card-title">Psychotic Symptoms</h5>
                                                                <div _ngcontent-rhp-c92="" class="status-toggle d-flex justify-content-between align-items-center">
                                                                    <input _ngcontent-rhp-c92="" type="checkbox" id="psychotic_symptoms" class="check" name="psychotic_symptoms" [ngModelOptions]="{standalone: true}" [(ngModel)]="psychotic_symptoms">
                                                                    <label _ngcontent-rhp-c92="" for="psychotic_symptoms" class="checktoggle" value="true">checkbox</label>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-xs-6 col-sm-3">

                                                        <div class="form-group ">
                                                            <div _ngcontent-rhp-c92="" class="card-header d-flex justify-content-between align-items-center">
                                                                <h5 _ngcontent-rhp-c92="" class="card-title">Self-mutilation/cutting</h5>
                                                                <div _ngcontent-rhp-c92="" class="status-toggle d-flex justify-content-between align-items-center">
                                                                    <input _ngcontent-rhp-c92="" type="checkbox" id="self_mutilation_cutting" class="check" name="self_mutilation_cutting" [ngModelOptions]="{standalone: true}" [(ngModel)]="self_mutilation_cutting">
                                                                    <label _ngcontent-rhp-c92="" for="self_mutilation_cutting" class="checktoggle" value="true">checkbox</label>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-xs-6 col-sm-3">

                                                        <div class="form-group ">
                                                            <div _ngcontent-rhp-c92="" class="card-header d-flex justify-content-between align-items-center">
                                                                <h5 _ngcontent-rhp-c92="" class="card-title">Caring for ill family recipient</h5>
                                                                <div _ngcontent-rhp-c92="" class="status-toggle d-flex justify-content-between align-items-center">
                                                                    <input _ngcontent-rhp-c92="" type="checkbox" id="caring_for_ill_family_recipient" class="check" name="caring_for_ill_family_recipient" [ngModelOptions]="{standalone: true}" [(ngModel)]="caring_for_ill_family_recipient">
                                                                    <label _ngcontent-rhp-c92="" for="caring_for_ill_family_recipient" class="checktoggle" value="true">checkbox</label>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-xs-6 col-sm-3">

                                                        <div class="form-group ">
                                                            <div _ngcontent-rhp-c92="" class="card-header d-flex justify-content-between align-items-center">
                                                                <h5 _ngcontent-rhp-c92="" class="card-title">Current family violence</h5>
                                                                <div _ngcontent-rhp-c92="" class="status-toggle d-flex justify-content-between align-items-center">
                                                                    <input _ngcontent-rhp-c92="" type="checkbox" id="current_family_violence" class="check" name="current_family_violence" [ngModelOptions]="{standalone: true}" [(ngModel)]="current_family_violence">
                                                                    <label _ngcontent-rhp-c92="" for="current_family_violence" class="checktoggle" value="true">checkbox</label>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-xs-6 col-sm-3">

                                                        <div class="form-group ">
                                                            <div _ngcontent-rhp-c92="" class="card-header d-flex justify-content-between align-items-center">
                                                                <h5 _ngcontent-rhp-c92="" class="card-title">Dealing with significant (abuse, violence) loss (job, relationship, financial)</h5>
                                                                <div _ngcontent-rhp-c92="" class="status-toggle d-flex justify-content-between align-items-center">
                                                                    <input _ngcontent-rhp-c92="" type="checkbox" id="dealing_with_significant" class="check" name="dealing_with_significant" [ngModelOptions]="{standalone: true}" [(ngModel)]="dealing_with_significant">
                                                                    <label _ngcontent-rhp-c92="" for="dealing_with_significant" class="checktoggle" value="true">checkbox</label>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-xs-6 col-sm-3">

                                                        <div class="form-group ">
                                                            <div _ngcontent-rhp-c92="" class="card-header d-flex justify-content-between align-items-center">
                                                                <h5 _ngcontent-rhp-c92="" class="card-title">Prior psychiatric inpatient admission</h5>
                                                                <div _ngcontent-rhp-c92="" class="status-toggle d-flex justify-content-between align-items-center">
                                                                    <input _ngcontent-rhp-c92="" type="checkbox" id="prior_psychiatric_inpatient_admission" class="check" name="prior_psychiatric_inpatient_admission" [ngModelOptions]="{standalone: true}" [(ngModel)]="prior_psychiatric_inpatient_admission">
                                                                    <label _ngcontent-rhp-c92="" for="prior_psychiatric_inpatient_admission" class="checktoggle" value="true">checkbox</label>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-xs-6 col-sm-3">

                                                        <div class="form-group local-forms ">
                                                            <label >Other<span class="login-danger">*</span></label>
                                                            <input class="form-control" name="other"  [(ngModel)]="other" type="text"  >
                                                        </div>
                                                        
                                                    </div>
                                                    <div class="col-12 mb-3 doctor-submit text-end">
                                                        <button class="btn btn-primary btn-sm" (click)="addRisk()">Update risk</button>
                                                    </div>
                                                    
                                                </div>
                                            </div>
                                            <h3 class="card-title">Suicidality.</h3>
                                            <div class="col-xs-12">  
                                                <div class="row">  
                                                    
                                                    <div class="col-xs-6 col-sm-4">

                                                        <div class="form-group ">
                                                            <div _ngcontent-rhp-c92="" class="card-header d-flex justify-content-between align-items-center">
                                                                <h5 _ngcontent-rhp-c92="" class="card-title">Not Present</h5>
                                                                <div _ngcontent-rhp-c92="" class="status-toggle d-flex justify-content-between align-items-center">
                                                                    <input _ngcontent-rhp-c92="" type="checkbox" id="not_present" class="check" name="not_present" [ngModelOptions]="{standalone: true}" [(ngModel)]="not_present">
                                                                    <label _ngcontent-rhp-c92="" for="not_present" class="checktoggle" value="true">checkbox</label>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-xs-6 col-sm-4">

                                                        <div class="form-group ">
                                                            <div _ngcontent-rhp-c92="" class="card-header d-flex justify-content-between align-items-center">
                                                                <h5 _ngcontent-rhp-c92="" class="card-title">Ideation</h5>
                                                                <div _ngcontent-rhp-c92="" class="status-toggle d-flex justify-content-between align-items-center">
                                                                    <input _ngcontent-rhp-c92="" type="checkbox" id="ideation" class="check" name="ideation" [ngModelOptions]="{standalone: true}" [(ngModel)]="ideation">
                                                                    <label _ngcontent-rhp-c92="" for="ideation" class="checktoggle" value="true">checkbox</label>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-xs-6 col-sm-4">

                                                        <div class="form-group ">
                                                            <div _ngcontent-rhp-c92="" class="card-header d-flex justify-content-between align-items-center">
                                                                <h5 _ngcontent-rhp-c92="" class="card-title">Plan</h5>
                                                                <div _ngcontent-rhp-c92="" class="status-toggle d-flex justify-content-between align-items-center">
                                                                    <input _ngcontent-rhp-c92="" type="checkbox" id="plan" class="check" name="plan" [ngModelOptions]="{standalone: true}" [(ngModel)]="plan">
                                                                    <label _ngcontent-rhp-c92="" for="plan" class="checktoggle" value="true">checkbox</label>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-xs-6 col-sm-4">

                                                        <div class="form-group ">
                                                            <div _ngcontent-rhp-c92="" class="card-header d-flex justify-content-between align-items-center">
                                                                <h5 _ngcontent-rhp-c92="" class="card-title">Means</h5>
                                                                <div _ngcontent-rhp-c92="" class="status-toggle d-flex justify-content-between align-items-center">
                                                                    <input _ngcontent-rhp-c92="" type="checkbox" id="means" class="check" name="means" [ngModelOptions]="{standalone: true}" [(ngModel)]="means">
                                                                    <label _ngcontent-rhp-c92="" for="means" class="checktoggle" value="true">checkbox</label>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-xs-6 col-sm-4">

                                                        <div class="form-group ">
                                                            <div _ngcontent-rhp-c92="" class="card-header d-flex justify-content-between align-items-center">
                                                                <h5 _ngcontent-rhp-c92="" class="card-title">Prior attempt (last 12 months)</h5>
                                                                <div _ngcontent-rhp-c92="" class="status-toggle d-flex justify-content-between align-items-center">
                                                                    <input _ngcontent-rhp-c92="" type="checkbox" id="prior_attempt" class="check" name="prior_attempt" [ngModelOptions]="{standalone: true}" [(ngModel)]="prior_attempt">
                                                                    <label _ngcontent-rhp-c92="" for="prior_attempt" class="checktoggle" value="true">checkbox</label>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    
                                                    <div class="col-12 mb-3 doctor-submit text-end">
                                                        <button class="btn btn-primary btn-sm" (click)="addSuicidality()">Update Suicidality</button>
                                                    </div>
                                                    
                                                </div>
                                            </div>
                                            <h3 class="card-title">Homicidality.</h3>
                                            <div class="col-xs-12">  
                                                <div class="row">  
                                                    
                                                    <div class="col-xs-6 col-sm-4">

                                                        <div class="form-group ">
                                                            <div _ngcontent-rhp-c92="" class="card-header d-flex justify-content-between align-items-center">
                                                                <h5 _ngcontent-rhp-c92="" class="card-title">Not Present</h5>
                                                                <div _ngcontent-rhp-c92="" class="status-toggle d-flex justify-content-between align-items-center">
                                                                    <input _ngcontent-rhp-c92="" type="checkbox" id="not_present_homicidality" class="check" name="not_present_homicidality" [ngModelOptions]="{standalone: true}" [(ngModel)]="not_present_homicidality">
                                                                    <label _ngcontent-rhp-c92="" for="not_present_homicidality" class="checktoggle" value="true">checkbox</label>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-xs-6 col-sm-4">

                                                        <div class="form-group ">
                                                            <div _ngcontent-rhp-c92="" class="card-header d-flex justify-content-between align-items-center">
                                                                <h5 _ngcontent-rhp-c92="" class="card-title">Ideation</h5>
                                                                <div _ngcontent-rhp-c92="" class="status-toggle d-flex justify-content-between align-items-center">
                                                                    <input _ngcontent-rhp-c92="" type="checkbox" id="ideation_homicidality" class="check" name="ideation_homicidality" [ngModelOptions]="{standalone: true}" [(ngModel)]="ideation_homicidality">
                                                                    <label _ngcontent-rhp-c92="" for="ideation_homicidality" class="checktoggle" value="true">checkbox</label>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-xs-6 col-sm-4">

                                                        <div class="form-group ">
                                                            <div _ngcontent-rhp-c92="" class="card-header d-flex justify-content-between align-items-center">
                                                                <h5 _ngcontent-rhp-c92="" class="card-title">Plan</h5>
                                                                <div _ngcontent-rhp-c92="" class="status-toggle d-flex justify-content-between align-items-center">
                                                                    <input _ngcontent-rhp-c92="" type="checkbox" id="plan_homicidality" class="check" name="plan_homicidality" [ngModelOptions]="{standalone: true}" [(ngModel)]="plan_homicidality">
                                                                    <label _ngcontent-rhp-c92="" for="plan_homicidality" class="checktoggle" value="true">checkbox</label>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-xs-6 col-sm-4">

                                                        <div class="form-group ">
                                                            <div _ngcontent-rhp-c92="" class="card-header d-flex justify-content-between align-items-center">
                                                                <h5 _ngcontent-rhp-c92="" class="card-title">Means</h5>
                                                                <div _ngcontent-rhp-c92="" class="status-toggle d-flex justify-content-between align-items-center">
                                                                    <input _ngcontent-rhp-c92="" type="checkbox" id="means_homicidality" class="check" name="means_homicidality" [ngModelOptions]="{standalone: true}" [(ngModel)]="means_homicidality">
                                                                    <label _ngcontent-rhp-c92="" for="means_homicidality" class="checktoggle" value="true">checkbox</label>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-xs-6 col-sm-4">

                                                        <div class="form-group ">
                                                            <div _ngcontent-rhp-c92="" class="card-header d-flex justify-content-between align-items-center">
                                                                <h5 _ngcontent-rhp-c92="" class="card-title">Prior attempt (last 12 months)</h5>
                                                                <div _ngcontent-rhp-c92="" class="status-toggle d-flex justify-content-between align-items-center">
                                                                    <input _ngcontent-rhp-c92="" type="checkbox" id="prior_attempt_homicidality" class="check" name="prior_attempt_homicidality" [ngModelOptions]="{standalone: true}" [(ngModel)]="prior_attempt_homicidality">
                                                                    <label _ngcontent-rhp-c92="" for="prior_attempt_homicidality" class="checktoggle" value="true">checkbox</label>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    
                                                    <div class="col-12 mb-3 doctor-submit text-end">
                                                        <button class="btn btn-primary btn-sm" (click)="addHomicidality()">Update Homicidality</button>
                                                    </div>
                                                    
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-xs-12 ">  
                                            <div class="form-group local-forms">
                                                <label >Crisis Note<span class="login-danger">*</span></label>
                                                <textarea class="form-control" name="crisis_note" [(ngModel)]="crisis_note" rows="4" cols="30"></textarea>
                                            </div>
                                        </div>
                                        <h3 class="card-title">Prevention.</h3>
                                        <div class="col-xs-12 ">  
                                            <div class="form-group local-forms">
                                                <label >Caregiver Requirements for Prevention of Crisis<span class="login-danger">*</span></label>
                                                <textarea class="form-control" name="caregiver_requirements_for_prevention_of_crisis" [(ngModel)]="caregiver_requirements_for_prevention_of_crisis" rows="4" cols="30"></textarea>
                                            </div>
                                        </div>
                                            
                                    </div>
                                    
                                </div>
                                
                            </div>
                        </div>
                    </div>
                    <!-- documents -->
                    
                    
                    <!-- validaciones -->
                   
                    <div class="form-group row" *ngIf="text_validation">
                        <div class="col-md-12">
                            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                                <strong>!</strong> {{text_validation}}.
                                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true"> </span>
                                </button>
                            </div>
                        </div>
                    </div>
                    <!-- validaciones -->
                    
                    <div class="col-12">
                        <div class="doctor-submit text-end">
                            <button type="button" class="btn btn-primary submit-form me-2" (click)="save()">Save</button>
                        </div>
                    </div>
                </div>
                
            </form>
            
        </div>
    </div>
        
</div>
<!-- fin other -->	