<!-- other -->
<div class="col-sm-12">
    <div class="card">
        <div class="card-body">

            <form autocomplete="false">
                <div class="row">

                    <!-- documents -->
                    <div class="col-12">
                        <div class="card-box">
                            <div class="card-block">
                                <h3 class="card-title">Behavior Assistant Rationale</h3>
                                <p>Specific duties and responsibilities: Collect data on target behaviors identified for
                                    reduction/acquisition/replacement, implement the behavior program and train the
                                    caregivers on data collection and implementation of the procedures outline within
                                    the plan.<br>
                                    Work Schedule and Schedule of activities: Behavior assistant will work with consumer
                                    Monday-Saturday, times vary. During that time all programs will be implemented. <br>
                                    Ongoing Assessment Responsibilities: Behavior Assistant will be responsible for
                                    collection of ongoing ABC data that will be used to assess the continued efficacy of
                                    the program/ interventions. Behavior Assistant will also record data sheets provided
                                    and attached to the program Training Procedures for Caregivers: Following competency
                                    based training by the behavior analyst of the caregivers with regards to the
                                    interventions outline within the behavior program, the behavior assistant will
                                    complete competency checks of the caregivers’ ability to collect data, implement
                                    replacement programs and follow through on the interventions.<br>
                                    Competency checks will include demonstration/modeling of procedures, observation of
                                    caregiver implementing replacement/acquisition programs, as well as corrective
                                    feedback when warranted.
                                </p>
                                <h4 class="card-title">Behavior Assistant (RBT) Work schedule </h4>
                                <div class="row align-items-center">

                                    <div class="col-xs-12 ">
                                        <div class="table-responsive">
                                            <table class="table mb-0">
                                                <thead>
                                                    <tr>
                                                        <th>Monday </th>
                                                        <th>Tuesday </th>
                                                        <th>Wednesday</th>
                                                        <th>Thursday</th>
                                                        <th>Friday </th>
                                                        <th>Saturday </th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td>
                                                            <p>Feedback from caregivers of environmental changes and
                                                                behavior changes since last session </p>
                                                        </td>
                                                        <td>
                                                            <p>Feedback from caregivers of environmental changes and
                                                                behavior changes since last session </p>

                                                        </td>
                                                        <td>
                                                            <p>Feedback from caregivers of environmental changes and
                                                                behavior changes since last session </p>

                                                        </td>
                                                        <td>
                                                            <p>Feedback from caregivers of environmental changes and
                                                                behavior changes since last session </p>

                                                        </td>
                                                        <td>
                                                            <p>Feedback from caregivers of environmental changes and
                                                                behavior changes since last session </p>

                                                        </td>
                                                        <td>
                                                            <p>Feedback from caregivers of environmental changes and
                                                                behavior changes since last session </p>

                                                        </td>

                                                    </tr>

                                                    <tr>
                                                        <td>
                                                            <p>Time: During whole session, as required.
                                                                BA implements compliance and also implements reduction
                                                                interventions, when needed. Data collection
                                                                Interventions listed on BASP:
                                                                -DRA
                                                                -Redirection
                                                                -Premack principle
                                                                - Response block
                                                                - Errorless teaching
                                                                - Shaping
                                                            </p>
                                                        </td>
                                                        <td>
                                                            <p>Time: During whole session, as required.
                                                                BA implements compliance and also implements reduction
                                                                interventions, when needed. Data collection
                                                                Interventions listed on BASP:
                                                                -DRA
                                                                -Redirection
                                                                -Premack principle
                                                                - Response block
                                                                - Errorless teaching
                                                                - Shaping
                                                            </p>

                                                        </td>
                                                        <td>
                                                            <p>Time: During whole session, as required.
                                                                BA implements compliance and also implements reduction
                                                                interventions, when needed. Data collection
                                                                Interventions listed on BASP:
                                                                -DRA
                                                                -Redirection
                                                                -Premack principle
                                                                - Response block
                                                                - Errorless teaching
                                                                - Shaping
                                                            </p>

                                                        </td>
                                                        <td>
                                                            <p>Time: During whole session, as required.
                                                                BA implements compliance and also implements reduction
                                                                interventions, when needed. Data collection
                                                                Interventions listed on BASP:
                                                                -DRA
                                                                -Redirection
                                                                -Premack principle
                                                                - Response block
                                                                - Errorless teaching
                                                                - Shaping
                                                            </p>

                                                        </td>
                                                        <td>
                                                            <p>Time: During whole session, as required.
                                                                BA implements compliance and also implements reduction
                                                                interventions, when needed. Data collection
                                                                Interventions listed on BASP:
                                                                -DRA
                                                                -Redirection
                                                                -Premack principle
                                                                - Response block
                                                                - Errorless teaching
                                                                - Shaping
                                                            </p>

                                                        </td>
                                                        <td>
                                                            <p>Time: During whole session, as required.
                                                                BA implements compliance and also implements reduction
                                                                interventions, when needed. Data collection
                                                                Interventions listed on BASP:
                                                                -DRA
                                                                -Redirection
                                                                -Premack principle
                                                                - Response block
                                                                - Errorless teaching
                                                                - Shaping
                                                            </p>

                                                        </td>

                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            <p>BA/RBT Implements Replacement programs. (Feedback
                                                                received from Analyst, when visiting). Modeling for
                                                                caregivers.
                                                                Data collected.
                                                                Use natural "environment and/or discrete trials.
                                                                Modeling can be provided also during community
                                                                activities such as playground, restaurants, shopping
                                                                center, library, etc.
                                                                Replacements listed above.
                                                                "
                                                            </p>
                                                        </td>
                                                        <td>
                                                            <p>BA/RBT Implements Replacement programs. (Feedback
                                                                received from Analyst, when visiting). Modeling for
                                                                caregivers.
                                                                Data collected.
                                                                Use natural "environment and/or discrete trials.
                                                                Modeling can be provided also during community
                                                                activities such as playground, restaurants, shopping
                                                                center, library, etc.
                                                                Replacements listed above.
                                                                "
                                                            </p>

                                                        </td>
                                                        <td>
                                                            <p>BA/RBT Implements Replacement programs. (Feedback
                                                                received from Analyst, when visiting). Modeling for
                                                                caregivers.
                                                                Data collected.
                                                                Use natural "environment and/or discrete trials.
                                                                Modeling can be provided also during community
                                                                activities such as playground, restaurants, shopping
                                                                center, library, etc.
                                                                Replacements listed above.
                                                                "
                                                            </p>

                                                        </td>
                                                        <td>
                                                            <p>BA/RBT Implements Replacement programs. (Feedback
                                                                received from Analyst, when visiting). Modeling for
                                                                caregivers.
                                                                Data collected.
                                                                Use natural "environment and/or discrete trials.
                                                                Modeling can be provided also during community
                                                                activities such as playground, restaurants, shopping
                                                                center, library, etc.
                                                                Replacements listed above.
                                                                "
                                                            </p>

                                                        </td>
                                                        <td>
                                                            <p>BA/RBT Implements Replacement programs. (Feedback
                                                                received from Analyst, when visiting). Modeling for
                                                                caregivers.
                                                                Data collected.
                                                                Use natural "environment and/or discrete trials.
                                                                Modeling can be provided also during community
                                                                activities such as playground, restaurants, shopping
                                                                center, library, etc.
                                                                Replacements listed above.
                                                                "
                                                            </p>

                                                        </td>
                                                        <td>
                                                            <p>BA/RBT Implements Replacement programs. (Feedback
                                                                received from Analyst, when visiting). Modeling for
                                                                caregivers.
                                                                Data collected.
                                                                Use natural "environment and/or discrete trials.
                                                                Modeling can be provided also during community
                                                                activities such as playground, restaurants, shopping
                                                                center, library, etc.
                                                                Replacements listed above.
                                                                "
                                                            </p>

                                                        </td>

                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            <p>Feedback to caregivers on session’s progress.
                                                                Mother
                                                                Expectations for next session.

                                                            </p>
                                                        </td>
                                                        <td>
                                                            <p>Feedback to caregivers on session’s progress.
                                                                Mother
                                                                Expectations for next session.

                                                            </p>

                                                        </td>
                                                        <td>
                                                            <p>Feedback to caregivers on session’s progress.
                                                                Mother
                                                                Expectations for next session.

                                                            </p>

                                                        </td>
                                                        <td>
                                                            <p>Feedback to caregivers on session’s progress.
                                                                Mother
                                                                Expectations for next session.

                                                            </p>

                                                        </td>
                                                        <td>
                                                            <p>Feedback to caregivers on session’s progress.
                                                                Mother
                                                                Expectations for next session.

                                                            </p>

                                                        </td>
                                                        <td>
                                                            <p>Feedback to caregivers on session’s progress.
                                                                Mother
                                                                Expectations for next session.

                                                            </p>

                                                        </td>

                                                    </tr>

                                                </tbody>
                                            </table>
                                        </div>
                                    </div>

                                </div>

                            </div>
                        </div>
                    </div>
                    <!-- documents -->


                </div>
                <!-- validaciones -->
                <!-- <div class="form-group row" *ngIf="text_success">
                    <div class="col-12">
                        <div class="alert alert-success alert-dismissible fade show" role="alert">
                            <strong>Exito!</strong>{{text_success}}.
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true"> </span>
                            </button>
                        </div>
                    </div>
                </div>

                <div class="form-group row" *ngIf="text_validation">
                    <div class="col-12">
                        <div class="alert alert-warning alert-dismissible fade show" role="alert">
                            <strong>!</strong> {{ text_validation }}.
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true"> </span>
                            </button>
                        </div>
                    </div>
                </div> -->
                <!-- validaciones -->

                <!-- <div class="col-12">
                    <div class="doctor-submit text-end">
                        <button type="button" class="btn btn-primary submit-form me-2" (click)="save()">Save</button>
                    </div>
                </div> -->

            </form>

        </div>
    </div>

</div>
<!-- fin other -->