 <!-- other -->
 <div class="col-sm-12">
    <div class="card">
        <div class="card-body">
            
            <form autocomplete="false">
                <div class="row" >

                    <!-- documents -->
                    <div class="col-12">
                        <div class="card-box">
                            <div class="card-block">
                                <h3 class="card-title">De-escalation Techniques</h3>
                                <div class="row align-items-center" >
                                    <div class="col-xs-12">
                                        <div class="row">
                                            
                                            <div class="col-xs-12 col-sm-6">
                                                <ul>
                                                    <li>Be aware and identify the precursors of maladaptive behaviors that might escalate to crisis</li>
                                                    <li>Never appear aggressive.</li>
                                                    <li>Focus on returning the situation to a no maladaptives state</li>
                                                    <li>Focus on the essence of the current crisis/behavior.</li>
                                                    <li>Do NOT use threats and do NOT belittle or make behavior seem unimportant.</li>
                                                    <li>Instruct others to leave the area</li>
                                                    
                                                </ul>
                                            </div>
                                            <div class="col-xs-12 col-sm-6">
                                                <ul>
                                                    
                                                    <li>Provide space and refrain from touching the individual</li>
                                                    <li>Use simple language and give short, clear directions</li>
                                                    <li>Project serene body language through your movements- keep them slow and predictable. </li>
                                                    <li>Remove distracting/dangerous elements (any object which can be dangerous if thrown or mishandled) </li> 
                                                    <li>Go to a less stressful place</li>
                                                    <li>Redirect to a peaceful object or activity (go to park, give a quiet toy, play soft music, play a game)
                                                        </li>
                                                </ul>
                                            </div>
                                            <div class="col-xs-12 ">
                                                <label>Service Recomendation <span class="login-danger">*</span></label>
                                                <p>Comprehensive treatment is being requested: ABA services will be focused on reducing the gap between the member’s chronological and developmental ages such that the member is able to develop or restore function to the maximum extent practical.</p>
                                            </div>
                                            
                                        </div>
                                    </div>
                                    
                                </div>

                                <h4 class="card-title">Recomendation List</h4>
                                <div class="row align-items-center" >
                                    <div class="col-xs-12">
                                        <div class="row">
                                            
                                            <div class="col-12 col-sm-4">
                                                <div class="form-group local-forms">
                                                    <label>CPT <span class="login-danger">*</span></label>
                                                    <input class="form-control" name="cpt"  [(ngModel)]="cpt" type="text"  >
                                                </div>
                                            </div>
                                            <div class="col-12">
                                                <div class="form-group local-forms">
                                                    <label>Description Service <span class="login-danger">*</span></label>
                                                    <textarea class="form-control" name="description_service" [(ngModel)]="description_service" rows="4" cols="30"></textarea>
                                                </div>
                                            </div>
                                            <div class="col-xs-12 col-sm-4">  
                                                <div class="form-group local-forms">
                                                    <label ># of Units /180 day period <span class="login-danger">*</span></label>
                                                    <input class="form-control" name="num_units"  [(ngModel)]="num_units" type="number"  >
                                                </div>
                                            </div>
                                            <div class="col-xs-12 col-sm-4">  
                                                <div class="form-group local-forms">
                                                    <label >Breakdown per Week <span class="login-danger">*</span></label>
                                                    <input class="form-control" name="breakdown_per_week"  [(ngModel)]="breakdown_per_week" type="text"  >
                                                </div>
                                            </div>
                                            
                                            <div class="col-xs-12 col-sm-4">  
                                                <div class="form-group local-forms">
                                                    <label >Location (Where Services are to be Delivered) <span class="login-danger">*</span></label>
                                                    <select class="form-control form-select-solid fw-bolder"
                                                    name="location" [(ngModel)]="location" [ngModelOptions]="{standalone: true}" 
                                                    placeholder="state">
                                                    <option>-- Select --</option>
                                                    <option value="In Home/School/Community">In Home/School/Community</option>
                                                    <option value="In Home/Community">In Home/Community</option>
                                                    <option value="In Home/School">In Home/School</option>
                                                    <option value="In Home">In Home</option>
                                                    </select>
                                                </div>
                                            </div>

                                            
                                            
                                            <div class="col-12 mb-3 doctor-submit text-end">
                                                <button class="btn btn-primary btn-sm" (click)="addDocument()">Update List</button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xs-12 ">
                                        <div class="table-responsive">
                                            <table class="table mb-0">
                                                <thead>
                                                    <tr>
                                                        <th>CPT  </th>
                                                        <th>Description Service </th>
                                                        <th># of Units /180 day period</th>
                                                        <th>Breakdown per Week</th>
                                                        <th>Location (Where Services are to be Delivered)</th>
                                                        <th>update Location</th>
                                                        <!-- <th>Option</th> -->
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr *ngFor="let escalation of deEscalationopts; let i = index">
                                                        <td>
                                                            {{escalation.cpt}}
                                                        </td>
                                                        <td>
                                                             {{escalation.description_service}}
                                                        </td>
                                                        <td>
                                                             {{escalation.num_units}}
                                                        </td>
                                                        <td>
                                                             {{escalation.breakdown_per_week}}
                                                        </td>
                                                        <td>
                                                             {{escalation.location}}
                                                        </td>
                                                        <td>
                                                            <select
                                                            class="form-control form-select-solid fw-bolder"
                                                            name="location_edit" [(ngModel)]="escalation.location" [ngModelOptions]="{standalone: true}" (change)="cambiarStatus(escalation)">
                                                            <option>-- Select --</option>
                                                            <option value="In Home/School/Community">In Home/School/Community</option>
                                                            <option value="In Home/Community">In Home/Community</option>
                                                            <option value="In Home/School">In Home/School</option>
                                                            <option value="In Home">In Home</option>
                                                              </select>
                                                        </td>
                                                        <td>
                                                            
                                                            <button class="btn btn-outline-danger btn-sm" (click)="deleteDocument(i)">x</button>
                                                        </td>
                                                        
                                                    </tr>
                                                    
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                    
                                </div>
                                
                            </div>
                        </div>
                    </div>
                    <!-- documents -->
                    
                        
                    </div>
                    <!-- validaciones -->
                   
                    <div class="form-group row" *ngIf="text_validation">
                        <div class="col-md-12">
                            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                                <strong>!</strong> {{text_validation}}.
                                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true"> </span>
                                </button>
                            </div>
                        </div>
                    </div>
                    <!-- validaciones -->
                    
                    <div class="col-12">
                        <div class="doctor-submit text-end">
                            <button type="button" class="btn btn-primary submit-form me-2" (click)="save()">Save</button>
                        </div>
                    </div>
                
            </form>
            
        </div>
    </div>
        
</div>
<!-- fin other -->					
