<!-- other -->
<div class="col-sm-12">
    <div class="card">
        <div class="card-body">

            <form autocomplete="false">
                <div class="row">

                    <!-- documents -->
                    <div class="col-12">
                        <div class="card-box">
                            <div class="card-block">
                                <h3 class="card-title">Monitoring and Evaluating the Effectiveness of the plan/
                                    Treatment Fidelity </h3>
                                <p>Ongoing training and monitoring of the RBT will occur on a weekly basis to ensure
                                    proper implementation of the behavior program. The BCBA/lead analyst will conduct
                                    weekly competency checks to ensure proper program implementation. The BCBA/lead
                                    analyst will graph the data, depicting the results of the competency checks on
                                    monthly progress reports. Also, the BCBA/lead analyst will collect IOA data at least
                                    once a month to ensure proper data collection.
                                </p>
                                <p> Objectives included in assistant competency checks:</p>
                                <ol>
                                    <li>Data collection</li>
                                    <li>Interventions/Environmental manipulations.</li>
                                    <li>Replacement goals used to teach the proper alternative to the maladaptive
                                        behavior targeted.</li>
                                    <li>Use of reinforcement</li>
                                </ol>
                                <h4 class="card-title">RBT Training Goals </h4>
                                <div class="row align-items-center">
                                    <div class="col-xs-12">
                                        <div class="row">
                                            <div class="col-xs-12 col-md-4">
                                                <div class="form-group local-forms">
                                                    <label>LTO<span class="login-danger">*</span></label>
                                                    <select class="form-control form-select-solid fw-bolder" name="lto"
                                                        [(ngModel)]="lto" [ngModelOptions]="{standalone: true}">
                                                        <option>-- Select --</option>
                                                        <option
                                                            value="RBT will independently demonstrate appropriate data collection, near 100% of opportunities, across two consecutive observations.">
                                                            RBT will independently demonstrate appropriate data
                                                            collection, near 100% of opportunities, across two
                                                            consecutive
                                                            observations.
                                                        </option>
                                                        <option
                                                            value="RBT will independently demonstrate DRA procedure, near 100% of opportunities, across two consecutive observations.">
                                                            RBT will independently demonstrate DRA procedure, near 100%
                                                            of opportunities, across two consecutive observations.
                                                        </option>
                                                        <option
                                                            value="RBT will independently demonstrate Premack Principle procedure, near 100% of opportunities, across two consecutive observations.">
                                                            RBT will independently demonstrate Premack Principle
                                                            procedure, near 100% of opportunities, across two
                                                            consecutive
                                                            observations.
                                                        </option>
                                                        <option
                                                            value="RBT will independently demonstrate Redirection procedure, near 100% of opportunities, across two consecutive observations.">
                                                            RBT will independently demonstrate Redirection procedure,
                                                            near 100% of opportunities, across two consecutive
                                                            observations.
                                                        </option>
                                                        <option
                                                            value="RBT will independently demonstrate Errorless teaching, near 100% of opportunities, across two consecutive observations.">
                                                            RBT will independently demonstrate Errorless teaching, near
                                                            100% of opportunities, across two consecutive
                                                            observations.
                                                        </option>
                                                        <option
                                                            value="RBT will independently demonstrate Shaping procedure, near 100% of opportunities, across two consecutive observations">
                                                            RBT will independently demonstrate Shaping procedure, near
                                                            100%
                                                            of opportunities, across two consecutive observations
                                                        </option>

                                                    </select>
                                                </div>
                                            </div>

                                            <div class="col-xs-12 col-md-4">
                                                <div class="form-group local-forms">
                                                    <label>Status<span class="login-danger">*</span></label>
                                                    <select class="form-control form-select-solid fw-bolder"
                                                        name="status" [(ngModel)]="status"
                                                        [ngModelOptions]="{standalone: true}">
                                                        <option>-- Select --</option>
                                                        <option value="inprogress">in progress</option>
                                                        <option value="initiated">Initiated</option>
                                                        <option value="mastered">mastered</option>
                                                        <option value="on hold">On Hold</option>
                                                        <option value="discontinued">Discontinued</option>
                                                        <option value="maintenance">Maintenance</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-xs-12 col-md-4">
                                                <div class="form-group local-forms">
                                                    <label>Date<span class="login-danger">*</span></label>
                                                    <input class="form-control datetimepicker" name="date"
                                                        [(ngModel)]="date" type="text" matInput
                                                        [matDatepicker]="pickerDateLTO">
                                                    <mat-datepicker #pickerDateLTO></mat-datepicker>
                                                    <mat-datepicker-toggle matIconSuffix
                                                        [for]="pickerDateLTO"></mat-datepicker-toggle>
                                                </div>
                                            </div>

                                        </div>



                                        <div class="col-12 mb-3 doctor-submit text-end">
                                            <button class="btn btn-primary btn-sm" (click)="addDocument()">Update
                                                List</button>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-12 ">
                                    <div class="table-responsive">
                                        <table class="table mb-0">
                                            <thead>
                                                <tr>
                                                    <th>LTO</th>
                                                    <th>Update LTO</th>
                                                    <th>Status</th>
                                                    <th>Update Status</th>
                                                    <th>Date</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr *ngFor="let caregiver of training_goals; let i = index">

                                                    <td>
                                                        {{caregiver.lto}}
                                                    </td>

                                                    <td>
                                                        <div class="form-group local-forms">
                                                            <select class="form-control form-select-solid fw-bolder"
                                                                name="lto_edit" [ngModelOptions]="{standalone: true}"
                                                                [(ngModel)]="caregiver.lto"
                                                                (change)="cambiarLTO(caregiver)">
                                                                <option>-- Select --</option>
                                                                <option
                                                                    value="RBT will independently demonstrate appropriate data collection, near 100% of opportunities, across two consecutive observations.">
                                                                    RBT will independently demonstrate appropriate data
                                                                    collection, near 100% of opportunities, across two
                                                                    consecutive
                                                                    observations.
                                                                </option>
                                                                <option
                                                                    value="RBT will independently demonstrate DRA procedure, near 100% of opportunities, across two consecutive observations.">
                                                                    RBT will independently demonstrate DRA procedure,
                                                                    near 100% of opportunities, across two consecutive
                                                                    observations.
                                                                </option>
                                                                <option
                                                                    value="RBT will independently demonstrate Premack Principle procedure, near 100% of opportunities, across two consecutive observations.">
                                                                    RBT will independently demonstrate Premack Principle
                                                                    procedure, near 100% of opportunities, across two
                                                                    consecutive
                                                                    observations.
                                                                </option>
                                                                <option
                                                                    value="RBT will independently demonstrate Redirection procedure, near 100% of opportunities, across two consecutive observations.">
                                                                    RBT will independently demonstrate Redirection
                                                                    procedure, near 100% of opportunities, across two
                                                                    consecutive
                                                                    observations.
                                                                </option>
                                                                <option
                                                                    value="RBT will independently demonstrate Errorless teaching, near 100% of opportunities, across two consecutive observations.">
                                                                    RBT will independently demonstrate Errorless
                                                                    teaching, near 100% of opportunities, across two
                                                                    consecutive
                                                                    observations.
                                                                </option>
                                                                <option
                                                                    value="RBT will independently demonstrate Shaping procedure, near 100% of opportunities, across two consecutive observations">
                                                                    RBT will independently demonstrate Shaping
                                                                    procedure, near 100%
                                                                    of opportunities, across two consecutive
                                                                    observations</option>

                                                            </select>
                                                        </div>
                                                    </td>

                                                    <td>
                                                        <!-- {{goalsto.status_sto}} -->
                                                        <span class="badge bg-success"
                                                            *ngIf="caregiver.status === 'inprogress'">In progress</span>
                                                        <span class="badge bg-success"
                                                            *ngIf="caregiver.status === 'initiated'">Initiated</span>
                                                        <span class="badge bg-primary"
                                                            *ngIf="caregiver.status === 'mastered'">Mastered</span>
                                                        <span class="badge bg-warning"
                                                            *ngIf="caregiver.status === 'on hold'">On Hold</span>
                                                        <span class="badge bg-danger"
                                                            *ngIf="caregiver.status === 'discontinued'">Discontinued</span>
                                                        <span class="badge bg-warning"
                                                            *ngIf="caregiver.status === 'maintenance'">Maintenance</span>
                                                    </td>
                                                    <td>
                                                        <div class="form-group local-forms">
                                                            <select class="form-control form-select-solid fw-bolder"
                                                                name="sustitution_status_sto_edit"
                                                                [ngModelOptions]="{standalone: true}"
                                                                [(ngModel)]="caregiver.status"
                                                                (change)="cambiarStatusSto(caregiver)">
                                                                <option>-- Select --</option>
                                                                <option value="inprogress">in progress</option>
                                                                <option value="initiated">Initiated</option>
                                                                <option value="mastered">mastered</option>
                                                                <option value="on hold">On Hold</option>
                                                                <option value="discontinued">Discontinued</option>
                                                                <option value="maintenance">Maintenance</option>
                                                            </select>
                                                        </div>
                                                    </td>
                                                    <td>
                                                        {{caregiver.date | date}}
                                                    </td>
                                                    <td>
                                                        <button class="btn btn-outline-danger btn-sm"
                                                            (click)="deleteDocument(i)">x</button>
                                                    </td>

                                                </tr>

                                            </tbody>
                                        </table>
                                    </div>
                                </div>

                            </div>

                        </div>
                    </div>
                </div>
                <!-- documents -->

                <!-- validaciones -->
                                
                <div class="form-group row" *ngIf="text_validation">
                    <div class="col-md-12">
                        <div class="alert alert-danger alert-dismissible fade show" role="alert">
                            <strong>!</strong> {{text_validation}}.
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true"> </span>
                            </button>
                        </div>
                    </div>
                </div>
                <!-- validaciones -->

                <div class="col-12">
                    <div class="doctor-submit text-end">
                        <button type="button" class="btn btn-primary submit-form me-2" (click)="save()">Save</button>
                    </div>
                </div>

            </form>

        </div>
    </div>

</div>
<!-- fin other -->