<div class="page-wrapper" >
    <div class="content">
    
        <!-- Page Header -->
        <div class="page-header">
            <div class="row">
                <div class="col-sm-12">
                    <!-- <ul class="breadcrumb">
                        <li class="breadcrumb-item active"><a routerLink="/patients/list">Client List / </a></li>
                        <li class="breadcrumb-item"><a [routerLink]="['/note-bcba/listbyclient/', patient_id]">Note BCBA List </a></li>
                        <li class="breadcrumb-item"><i class="feather icon-chevron-right"></i></li>
                        <li class="breadcrumb-item active">Client Note Bcba</li>
                    </ul> -->
                    <div class=" doctor-submit text-start">
                        <button class="btn btn-primary btn-sm " (click)="goBack() ">Back</button>
                    </div>
                </div>
                
            </div>
        </div>
        <!-- /Page Header -->
        <div class="row" id="contentToConvert" #contentToConvert>
            <div class="col-sm-12" *ngIf="patient_selected">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="about-info mb-10">
                                    <h4>Client Note BCBA </h4>
                                </div>
                                <div class="doctor-profile-head">
                                    <!-- <div class="profile-bg-img">
                                        <img  src="assets/img/profile-bg.jpg"  alt="Profile">
                                    </div> -->
                                    <div class="row">
                                        <div class="col-lg-4 col-md-4">
                                            <div class="profile-user-box">
                                                
                                                <div class="names-profiles">
                                                    <h5>Client</h5>
                                                    <h4>{{patient_selected.first_name}}</h4>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-4 col-md-4 d-flex align-items-center">
                                            <div class="follow-group">
                                                <div class="doctor-follows">
                                                    <h5>Patient ID</h5>
                                                    <h4>{{patient_selected.patient_id}}</h4>
                                                </div>
                                                
                                                <div class="doctor-follows">
                                                    <h5>diagnosis_code</h5>
                                                    <h4>{{patient_selected.diagnosis_code}}</h4>
                                                </div>
                                                <div class="doctor-follows">
                                                    <h5>Status</h5>
                                                    <span class="badge bg-primary"
                                                        *ngIf="patient_selected.status === 'incoming'">Incoming</span>
                                                    <span class="badge bg-success"
                                                        *ngIf="patient_selected.status === 'active'">Active</span>
                                                    <span class="badge bg-danger"
                                                        *ngIf="patient_selected.status === 'inactive'">Inactive</span>

                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-4 col-md-4 d-flex align-items-center">
                                            <div class="follow-btn-group">
                                                <a [routerLink]="['/note-bcba/edit/', note_id]" class="btn btn-info follow-btns">Edit</a>
                                                <button class="btn btn-info follow-btns" (click)="convertToPdf()">Save PDF</button>
                                                <!-- <button type="submit" class="btn btn-info message-btns">Message</button> -->
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>								
                        </div>
                    </div>
                </div>
                <div class="row">
                    
                    <div class="col-lg-12">
                        <div class="doctor-personals-grp">
                            <div class="card">
                                <div class="card-body">
                                    
                                    <ng-container *ngIf="option_selected == 1">
                                        <div class="personal-list-out">
                                            <div class="row">
                                                <div class="col-xl-3 col-md-6">
                                                   
                                                    <div class="detail-personal">
                                                        <h2>Patient Id</h2>
                                                        <h3>{{patient_selected.patient_id }} </h3>
                                                    </div>
                                                </div>
                                                <div class="col-xl-3 col-md-6">
                                                   
                                                    <div class="detail-personal">
                                                        <h2>Location</h2>
                                                        <h3>{{note_selected.location}}</h3>
                                                    </div>
                                                </div>
                                                <div class="col-xl-3 col-md-6">
                                                   
                                                    <div class="detail-personal">
                                                        <h2>Full Name</h2>
                                                        <h3>{{patient_selected.first_name }} {{patient_selected.last_name }}</h3>
                                                    </div>
                                                </div>
                                                <div class="col-xl-3 col-md-6">
                                                    <div class="detail-personal">
                                                        <h2>Diagnosis code</h2>
                                                        <h3>{{patient_selected.diagnosis_code}}</h3>
                                                    </div>
                                                </div>
                                                <div class="col-xl-3 col-md-6 col-xl-4">
                                                    <div class="detail-personal">
                                                        <h2>Rendering Provider</h2>
                                                        <h3>{{doctor_selected_full_name}}</h3>
                                                    </div>
                                                </div>
                                                <div class="col-xl-3 col-md-6 col-xl-4">
                                                    <div class="detail-personal">
                                                        <h2>Aba Supervisor</h2>
                                                        <h3>{{doctor_selected_full_name_rbt}}</h3>
                                                    </div>
                                                </div>
                                                <div class="col-xl-3 col-md-6 col-xl-4">
                                                    <div class="detail-personal">
                                                        <h2>CPT Code</h2>
                                                        <h3>{{note_selected.cpt_code}}</h3>
                                                    </div>
                                                </div>
                                                <div class="clear"></div>
                                                <div class="col-xl-3 col-md-6 col-xl-4">
                                                    <div class="detail-personal">
                                                        <h2>Time In</h2>
                                                        <h3>{{note_selected.time_in | transformToDate }}</h3>
                                                    </div>
                                                </div>
                                                <div class="col-xl-3 col-md-6 col-xl-4">
                                                    <div class="detail-personal">
                                                        <h2>Time Out</h2>
                                                        <h3>{{note_selected.time_out | transformToDate }}</h3>
                                                    </div>
                                                </div>
                                                <div class="col-xl-3 col-md-6 col-xl-4">
                                                    <div class="detail-personal">
                                                        <h2>Total First Session</h2>
                                                        <h3>{{note_selected.session_length_total | transformToDate }}</h3>
                                                    </div>
                                                </div>
                                                <div class="clear"></div>
                                                <div class="col-xl-3 col-md-6 col-xl-4">
                                                    <div class="detail-personal">
                                                        <h2>Time In 2</h2>
                                                        <h3>{{note_selected.time_in2 | transformToDate }}</h3>
                                                    </div>
                                                </div>
                                                <div class="col-xl-3 col-md-6 col-xl-4">
                                                    <div class="detail-personal">
                                                        <h2>Time Out 2</h2>
                                                        <h3>{{note_selected.time_out2 | transformToDate }}</h3>
                                                    </div>
                                                </div>
                                                <div class="col-xl-3 col-md-6 col-xl-4">
                                                    <div class="detail-personal">
                                                        <h2>Total First Session 2</h2>
                                                        <h3>{{note_selected.session_length_total2 | transformToDate }}</h3>
                                                    </div>
                                                </div>
                                                <div class="col-xl-12">
                                                    <div class="detail-personal">
                                                        <h2>Note Description</h2>
                                                        <h3>{{note_selected.note_description}}</h3>
                                                    </div>
                                                </div>
                                                
                                            </div>
                                        </div>
                                        
                                    </ng-container>
                                    
                                    
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-12 col-sm-6">
                                    <div class="card ">
                                        <div class="card-header">
                                            <h4 class="card-title ">Caregiver Goal </h4>
                                        </div>
                                        <div class="card-body p-0 ">
                                            <div class="personal-list-out">
                                                <div class="container">
                                                    <div class="row">
                                                        
                                                        <table class="table mb-0">
                                                            <thead>
                                                                <tr>
                                                                    <th><h2 style="font-size: 12px;font-weight: 500;">Caregiver Goal</h2></th>
                                                                    <th><h2 style="font-size: 12px;font-weight: 500;">% of Occurrences</h2></th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                <tr *ngFor="let behavior of caregivers_training_goals; let i = index">
                                                                    <td>
                                                                        <p>{{behavior.caregiver_goal}}</p>
                                                                    </td>
                                                                    <td>
                                                                        <p>{{behavior.porcent_of_correct_response}}</p>
                                                                    </td>
                                                                </tr>
                                                                
                                                            </tbody>
                                                        </table>
                                                        
                                                    </div>
                                                </div>
                                            </div>
                                            
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-6">
                                    <div class="card ">
                                        <div class="card-header">
                                            <h4 class="card-title ">RBT Training goals</h4>
                                        </div>
                                        <div class="card-body p-0 ">
                                            <div class="personal-list-out">
                                                <div class="container">
                                                    <div class="row">
                                                        
                                                        <table class="table mb-0">
                                                            <thead>
                                                                <tr>
                                                                    <th><h2 style="font-size: 12px;font-weight: 500;">Caregiver Goal</h2></th>
                                                                    <th><h2 style="font-size: 12px;font-weight: 500;">% of correct responses</h2></th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                <tr *ngFor="let replacemen of rbt_training_goals; let i = index">
                                                                    <td >
                                                                        <p>{{replacemen.lto}}</p>
                                                                    </td>
                                                                    <td >
                                                                       <p> {{replacemen.porcent_of_correct_response}}</p>
                                                                    </td>
                                                                    
                                                                </tr>
                                                                
                                                            </tbody>
                                                        </table>
                                                        
                                                    </div>
                                                </div>
                                            </div>
                                            
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card ">
                                <div class="card-header">
                                    <h4 class="card-title ">Summary Note</h4>
                                </div>
                                <div class="card-body p-0 ">
                                    <div class="personal-list-out">
                                        <div class="container">
                                            <div class="row">
                                                
                                                
                                                <div class="col-xl-3 col-md-6">
                                                    <div class="detail-personal">
                                                        <h2>Provider Signature</h2>
                                                        <!-- <h3>{{note_selected.provider_signature}}</h3> -->
                                                        <img  src="{{note_selected.provider_signature}}" style="width: 100%;"  >
                                                    </div>
                                                </div>
                                                <div class="col-xl-3 col-md-6">
                                                    <div class="detail-personal">
                                                        <h2>Provider name RBT</h2>
                                                        <h3>{{doctor_selected_full_name}}</h3>
                                                    </div>
                                                </div>
                                                <div class="col-xl-3 col-md-6">
                                                    <div class="detail-personal">
                                                        <h2>Supervisor Signature</h2>
                                                        <!-- <h3>{{note_selected.supervisor_signature}}</h3> -->
                                                        <!-- {{imagenSerUrl}} -->
                                                        <img  src="{{note_selected.supervisor_signature}}" style="width: 100%;"  >
                                                    </div>
                                                </div>
                                                <div class="col-xl-3 col-md-6">
                                                    <div class="detail-personal">
                                                        <h2>Supervisor name BCBA</h2>
                                                        <h3>{{doctor_selected_full_name_rbt}}</h3>
                                                    </div>
                                                </div>
                                                
                                            </div>
                                        </div>
                                    </div>
                                    
                                </div>
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
 