<div class="page-wrapper">
    <div class="content">
    
        <!-- Page Header -->
        <div class="page-header">
            <div class="row">
                <div class="col-sm-12">
                    <!-- <ul class="breadcrumb">
                        <li class="breadcrumb-item active"><a routerLink="/patients/list">Client List / </a></li>
                        <li class="breadcrumb-item"><a [routerLink]="['/note-bcba/listbyclient/', patient_id]">Note BCBA List </a></li>
                        <li class="breadcrumb-item"><i class="feather icon-chevron-right"></i></li>
                        <li class="breadcrumb-item active">Create BCBA Note </li>
                    </ul> -->
                    <div class=" doctor-submit text-start">
                        <button class="btn btn-primary btn-sm " (click)="goBack() ">Back</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- /Page Header -->
        <div class="row">
            <!-- paciente -->
            <div class="col-sm-12">
                <div class="card">
                    <div class="card-body">
                        <form autocomplete="false">
                            
                            <!-- paciente -->
                            <div class="row align-items-center py-4" >
                                <div class="col-12 py-4">
                                    <h4>Data Client</h4>
                                </div>
                                <div class="col-12 col-md-6 col-xl-4">
                                    <div class="form-group local-forms">
                                        <label >POS  <span class="login-danger">*</span></label>
                                        <input class="form-control" name="pos" disabled
                                            [(ngModel)]="pos" type="text">
                                        <!-- <input class="form-control" name="diagnosis_code"  disabled [(ngModel)]="diagnosis_code" type="text"  > -->
                                    </div>
                                </div>
                                <div class="col-12 col-md-6 col-xl-4">
                                    <div class="form-group local-forms">
                                        <label >Patient ID <span class="login-danger">*</span></label>
                                        <input class="form-control"  name="patient_id"  disabled [(ngModel)]="patient_id" type="text"  >
                                    </div>
                                </div>
                                <div class="col-12 col-md-6 col-xl-4">
                                    <div class="form-group local-forms">
                                        <label >Diagnosis Code <span class="login-danger">*</span></label>
                                        <input class="form-control" name="diagnosis_code"  disabled [(ngModel)]="diagnosis_code" type="text"  >
                                    </div>
                                </div>
                                <div class="col-12 col-md-6 col-xl-4">
                                    <div class="form-group local-forms">
                                        <label >Birth day <span class="login-danger">*</span></label>
                                        <input class="form-control datetimepicker" disabled name="birth_date" [(ngModel)]="birth_date" type="text" matInput [matDatepicker]="picker"  >
                                        <mat-datepicker #picker></mat-datepicker>
                                        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                                    </div>
                                </div>
                                <div class="col-12 col-md-6 col-xl-4">
                                    <div class="form-group local-forms">
                                        <label >Rendering Provider <span class="login-danger">*</span></label>
                                        <mat-select [(ngModel)]="selectedValueRendering" name="rendering_provider" [ngModelOptions]="{standalone: true}" class="form-control select" (selectionChange)="selectSpecialist($event)"  placeholder="Select Specialist">
                                            <mat-option *ngFor="let data of roles_bcba" [value]="data.id">
                                            {{data.name}} {{data.surname}}
                                            </mat-option>
                                        </mat-select>

                                    </div>
                                </div>
                                <div class="col-12 col-md-6 col-xl-4">
                                    <div class="form-group local-forms">
                                        <label >Aba Supervisor<span class="login-danger">*</span></label>
                                        <mat-select [(ngModel)]="selectedValueAba" name="aba_supervisor" [ngModelOptions]="{standalone: true}" class="form-control select" (selectionChange)="selectSpecialist($event)"  placeholder="Select Specialist">
                                            <mat-option *ngFor="let data of specialists" [value]="data.id">
                                            {{data.name}} {{data.surname}}
                                            </mat-option>
                                        </mat-select>

                                    </div>
                                </div>
                                <div class="col-12 col-md-6 col-xl-4 ">
                                    <div class="form-group local-forms">
                                        <label >CPT <span class="login-danger">*</span></label>
                                        <mat-select [(ngModel)]="selectedValueCode" name="cpt_code" [ngModelOptions]="{standalone: true}" class="form-control select"  placeholder="Select Code">
                                            <mat-option *ngFor="let data of services" [value]="data.code">
                                            {{data.code}}
                                            </mat-option>
                                        </mat-select>
                                    </div>
                                </div>
                                <div class="col-12 col-md-6 col-xl-4">
                                    <div class="form-group local-forms">
                                        <label >Date <span class="login-danger">*</span></label>
                                        <input class="form-control datetimepicker" autocomplete="false" name="session_date" [(ngModel)]="session_date" type="text" matInput [matDatepicker]="pickerSesDate"  >
                                        <mat-datepicker #pickerSesDate></mat-datepicker>
                                        <mat-datepicker-toggle matIconSuffix [for]="pickerSesDate"></mat-datepicker-toggle>
                                    </div>
                                </div>
                                <div class="clear"></div>
                                <div class="col-12 col-md-6 col-xl-3">
                                    <div class="form-group local-forms">
                                        <label >Time In <span class="login-danger">*</span></label>
                                        
                                        <input [ngxTimepicker]="toggleTimepicker" [disableClick]="true" readonly  
                                        [(ngModel)]="selectedValueTimeIn" name="time_in" [format]="24"  (onChange)="hourTimeInSelected($event)" [ngModelOptions]="{standalone: true}">
                                        <ngx-material-timepicker-toggle [for]="toggleTimepicker"></ngx-material-timepicker-toggle>
                                        <ngx-material-timepicker #toggleTimepicker></ngx-material-timepicker>
                                    </div>
                                </div>
                                <div class="col-12 col-md-6 col-xl-3">
                                    <div class="form-group local-forms">
                                        <label >Time Out <span class="login-danger">*</span></label>
                                        <input [ngxTimepicker]="toggleTimepicker2" [disableClick]="true" readonly  
                                        [(ngModel)]="selectedValueTimeOut" name="time_out" [format]="24"  (onChange)="hourTimeOutSelected($event)" [ngModelOptions]="{standalone: true}">
                                        <ngx-material-timepicker-toggle [for]="toggleTimepicker2"></ngx-material-timepicker-toggle>
                                        <ngx-material-timepicker #toggleTimepicker2></ngx-material-timepicker>
                                    </div>
                                </div>
                                <div class="col-12 col-md-6 col-xl-3">
                                    <div class="form-group local-forms">
                                        <label >Time In <span class="login-danger">*</span></label>
                                        <input [ngxTimepicker]="toggleTimepicker3" [disableClick]="true" readonly  
                                        [(ngModel)]="selectedValueTimeIn2" name="time_in2" [format]="24"  (onChange)="hourTimeInSelected($event)" [ngModelOptions]="{standalone: true}">
                                        <ngx-material-timepicker-toggle [for]="toggleTimepicker3"></ngx-material-timepicker-toggle>
                                        <ngx-material-timepicker #toggleTimepicker3></ngx-material-timepicker>
                                    </div>
                                </div>
                                <div class="col-12 col-md-6 col-xl-3">
                                    <div class="form-group local-forms">
                                        <label >Time Out <span class="login-danger">*</span></label>
                                        <input [ngxTimepicker]="toggleTimepicker4" [disableClick]="true" readonly  
                                        [(ngModel)]="selectedValueTimeOut2" name="time_out2" [format]="24"  (onChange)="hourTimeInSelected($event)" [ngModelOptions]="{standalone: true}">
                                        <ngx-material-timepicker-toggle [for]="toggleTimepicker4"></ngx-material-timepicker-toggle>
                                        <ngx-material-timepicker #toggleTimepicker4></ngx-material-timepicker>
                                    </div>
                                </div>
                                <div class="col-12 col-md-6 col-xl-4">
                                    <div class="form-group local-forms">
                                        <label >Session Length Total<span class="login-danger">*</span></label>
                                        <input class="form-control" name="session_length_total"   [(ngModel)]="session_length_total" type="text"  >
                                    </div>
                                </div>
                                <div class="col-12 col-md-6 col-xl-4">
                                    <div class="form-group local-forms">
                                        <label >Session Length Total<span class="login-danger">*</span></label>
                                        <input class="form-control" name="session_length_total2"   [(ngModel)]="session_length_total2" type="text"  >
                                    </div>
                                </div>
                                <div class="col-12 ">
                                    <div class="form-group local-forms">
                                        <label >Note Description<span class="login-danger">*</span></label>
                                        <!-- <input class="form-control" name="rbt_modeled_and_demonstrated_to_caregiver"   [(ngModel)]="rbt_modeled_and_demonstrated_to_caregiver" type="text"  > -->
                                        <textarea class="form-control" name="note_description" [(ngModel)]="note_description" rows="4" cols="30"></textarea>
                                    </div>
                                </div>
                            </div>
                            <!-- paciente -->
                        </form>
                        
                    </div>
                </div>	
                	
            </div>
            <!-- fin paciente -->

            

            <!-- Maladaptives -->
            <div class="col-xs-12 col-sm-6">
                <div class="card">
                    <div class="card-body">
                        <div class="col-12">
                            <h4>Caregiver Goal</h4>
                            <p class="text-danger">Note: Please fill out all fields and save each Goal, if you didn't have any reaction, enter "0"</p>
                        </div>
                        <div class="container">
                            <form autocomplete="false">
                                <!-- maladaptives -->
                                <div class="table-responsive">
                                    <table class="table mb-0">
                                        <thead>
                                            <tr>
                                                <th>Caregiver Goal  </th>
                                                <th>% of  Occurrences   </th>
                                            </tr>
                                        </thead>
                                        <tbody *ngIf="!maladaptiveSelected">
                                            
                                            <tr *ngFor="let behavior of caregivers_training_goals; let i = index">
                                                <td>
                                                    {{behavior.caregiver_goal}}
                                                </td>
                                                <td>
                                                    {{behavior.porcent_of_correct_response}}
                                                </td>
                                                <td>
                                                    <button class="btn btn-outline-success btn-sm" (click)="selectMaladaptive(behavior,i)"><i class="fa fa-edit"></i></button>
                                                </td>
                                            </tr>
                                            
                                        </tbody>
                                        <tbody *ngIf="maladaptiveSelected">
                                            
                                            <tr >
                                                <td>
                                                    {{maladaptiveSelected.caregiver_goal}}
                                                </td>
                                                <td>
                                                    <input class="form-control" name="porcent_of_correct_response " 
                                                    [ngModelOptions]="{standalone: true}"    
                                                    [(ngModel)]="maladaptiveSelected.porcent_of_correct_response" type="number"  >
                                                </td>
                                                <td>
                                                    <button class="btn btn-outline-success btn-sm" (click)="back()">Back</button>
                                                    <button class="btn btn-outline-success btn-sm" (click)="addMaladaptive(maladaptiveSelected,i)">Save</button>
                                                
                                                </td>
                                            </tr>
                                            
                                        </tbody>
                                    </table>
                                </div>
                                <!-- maladaptives -->
                                
                            </form>
                        </div>
                        
                    </div>
                </div>	
                	
            </div>
            <!-- fin Maladaptives -->
            <!-- replacements -->
            <div class="col-xs-12 col-sm-6">
                <div class="card">
                    <div class="card-body">
                        <div class="col-12">
                            <h4>RBT Training goals</h4>
                            <p class="text-danger">Note: Please fill out all fields and save each RBT Training Goal, if you didn't have any reaction, enter "0"</p>
                        </div>
                        <div class="container">
                            <form autocomplete="false">
                                <!-- Replacements -->
                                <div class="table-responsive" >
                                    <table class="table mb-0">
                                        <thead>
                                            <tr>
                                                <th>Caregiver Goal  </th>
                                                <th>% of correct responses</th>
                                            </tr>
                                        </thead>
                                        <tbody *ngIf="!replacementSelected">
                                            <tr *ngFor="let replacemen of rbt_training_goals; let i = index">
                                                <td >
                                                    {{replacemen.lto}}
                                                </td>
                                                <td >
                                                    {{replacemen.porcent_of_correct_response}}
                                                </td>
                                                <td>
                                                    <button class="btn btn-outline-success btn-sm" (click)="selectReplacement(replacemen,i)"><i class="fa fa-edit"></i></button>
                                                </td>
                                                
                                            </tr>
                                            
                                        </tbody>
                                        <tbody *ngIf="replacementSelected">
                                            <!--  -->
                                            <tr>
                                                <td>
                                                    {{replacementSelected.lto}}
                                                </td>
                                                <td>
                                                    <input class="form-control" name="porcent_of_correct_response " 
                                                    [ngModelOptions]="{standalone: true}"  
                                                     [(ngModel)]="replacementSelected.porcent_of_correct_response" type="number"  >
                                                </td>
                                                <td>
                                                    <button class="btn btn-outline-success btn-sm" (click)="back()">Back</button>
                                                    <button class="btn btn-outline-success btn-sm" (click)="addReplacement(replacementSelected,i)">Save</button>
                                                </td>
                                                
                                            </tr>
                                            
                                        </tbody>
                                    </table>
                                </div>
                                <!-- Replacements -->
                                
                            </form>
                        </div>
                        
                    </div>
                </div>	
                	
            </div>
            <!-- fin replacements -->

            <!-- paciente -->
            <div class="col-sm-12">
                <div class="card">
                    <div class="card-body">
                        <form autocomplete="false">
                            
                            <!-- paciente -->
                            <div class="row align-items-center py-4" >
                                <div class="col-12 col-md-6 col-xl-4">
                                    <div class="form-group local-forms">
                                        <label >Provider name BCBA <span class="login-danger">*</span></label>
                                        <mat-select [(ngModel)]="selectedValueRBT" name="rbt" 
                                        [ngModelOptions]="{standalone: true}" 
                                        class="form-control select"  
                                        (selectionChange)="selectFirmaSpecialistRbt($event)"
                                        placeholder="Select Specialist">
                                            <mat-option *ngFor="let data of roles_bcba" [value]="data.id">
                                            {{data.name}} {{data.surname}}
                                            </mat-option>
                                        </mat-select>
                                    </div>
                                </div>
                                <div class="col-12 col-md-6 col-xl-6">
                                    <div class="form-group local-top-form">
                                        <label class="local-top">Provider Signature <span class="login-danger">*</span></label>
                                        <!-- <div class="settings-btn upload-files-avator">
                                            <input type="file" accept="image/*" name="provider_signature" id="file" (change)="loadFile($event)" class="hide-input">
                                            <label for="file" class="upload">Choose File</label>
                                        </div> -->
                                    </div>
            
                                    <!-- previsualizacion de la foto -->
                                    <div *ngIf="FILE_SIGNATURE_RBT">
                                        <img [src]="IMAGE_PREVISUALIZA_SIGNATURE__RBT" style="width: 250px;" alt="">
                                    </div>
                                    <div *ngIf="IMAGE_PREVISUALIZA_SIGNATURE__RBT_CREATED">
                                        <img [src]="IMAGE_PREVISUALIZA_SIGNATURE__RBT_CREATED" style="width: 250px;" alt="">
                                    </div>
                                    <!-- previsualizacion de la foto -->
                                </div>
                                

                                <div class="col-12 col-md-6 col-xl-4">
                                    <div class="form-group local-forms">
                                        <div class="form-group local-forms">
                                            <label >Supervisor name BCBA <span class="login-danger">*</span></label>
                                            <mat-select [(ngModel)]="selectedValueBCBA"
                                            (selectionChange)="selectFirmaSpecialistBcba($event)" name="bcba" [ngModelOptions]="{standalone: true}" class="form-control select"  placeholder="Select Specialist">
                                                <mat-option *ngFor="let data of specialists" [value]="data.id">
                                                {{data.name}} {{data.surname}}
                                                </mat-option>
                                            </mat-select>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-md-6 col-xl-6">
                                    <div class="form-group local-top-form">
                                        <label class="local-top">Supervisor Signature <span class="login-danger">*</span></label>
                                        <!-- <div class="settings-btn upload-files-avator">
                                            <input type="file" accept="image/*" name="imagenn" id="file1" (change)="loadFileSignature($event)" class="hide-input">
                                            <label for="file1" class="upload">Choose File</label>
                                        </div> -->
                                    </div>
            
                                    <!-- previsualizacion de la foto -->
                                    <div *ngIf="FILE_SIGNATURE_BCBA">
                                        <img [src]="IMAGE_PREVISUALIZA_SIGNATURE_BCBA" style="width: 250px;" alt="">
                                    </div>
                                    <div *ngIf="IMAGE_PREVISUALIZA_SIGNATURE_BCBA_CREATED">
                                        <img [src]="IMAGE_PREVISUALIZA_SIGNATURE_BCBA_CREATED" style="width: 250px;" alt="">
                                    </div>
                                    <!-- previsualizacion de la foto -->
                                </div>
                                
                            </div>
                            <!-- paciente -->

                            
                            <div class="col-12">
                                <div class="doctor-submit text-end">
                                    <button type="button" class="btn btn-primary submit-form me-2" (click)="save()">Save</button>
                                    
                                </div>
                            </div>
                        </form>
                        
                    </div>
                </div>	
                	
            </div>
            <!-- fin paciente -->
           
            					
        </div>
    </div>
</div>
 