<div class="col-sm-12" *ngIf="!maladaptives">
    please fill maladaptives to view this section.
</div>

<div class="col-sm-12" *ngIf="maladaptives" >
    <div class="card" >
        <div class="card-body">
            <div class="col-xs-12">
                <!-- lista inicial -->
                <div class="table-responsive" *ngIf="!maladaptiveSelected && !maladaptiveSelectedSon">
                    <h3 class="card-title">Maladaptives Behaviors</h3>
                    <table class="table mb-0">
                        <thead>
                            <tr>
                                <th>Behavior</th>
                                <th>Topographical Definition</th>
                                <th>Baseline Level</th>
                                <th>Initial Interesting</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let maladap of maladaptives; let i = index">
                                <td>
                                    {{maladap.maladaptive_behavior}}
                                </td>
                                <td>
                                     {{maladap.topografical_definition}}
                                </td>
                                <td>
                                     {{maladap.baseline_level}}
                                </td>
                                <td>
                                    {{maladap.initial_interesting}}
                                </td>
                                <td>
                                    
                                    <button class="btn btn-outline-success btn-sm" (click)="selectedMaladaptive(maladap)"><i class="fa fa-edit"></i></button>
                                    <button class="btn btn-outline-success btn-sm" (click)="selectedMaladaptiveSon(maladap)"><i class="fa fa-bar-chart" ></i></button>
                                    <!-- <button class="btn btn-danger btn-sm" (click)="deleteMaladaptive(i)">x</button> -->
                                </td>
                            </tr>
                            
                            
                        </tbody>
                    </table>
                    
                </div>
                <!-- fin lista inicial    -->
                <div *ngIf="maladaptiveSelected" class=" doctor-submit text-end">
                    <button class="btn btn-primary btn-sm " (click)="back() ">Back</button>
                </div>
                <!-- maladaptiveSelected -->
                <div class="rbt-dashboard-table table-responsive mobile-table-750" *ngIf="maladaptiveSelected">
                    

                    <form autocomplete="false">
                        <div class="row" >
        
                            <h3 class="card-title">Skill Acquisition/Replacement Goals</h3>
                            <!-- goals form -->

                            
                            
                            <!-- sto -->
                            <div class="row align-items-center" >
                                <div class="col-12 col-md-6 col-xl-3">  
                                    <div class="form-group local-forms">
                                        <label >Maladaptive:  <span class="login-danger">*</span></label>
                                        <input class="form-control" name="maladaptive_title"  disabled [(ngModel)]="maladaptiveSelected.maladaptive_behavior" type="text" placeholder="maladaptive_title"  >
                                    </div>
                                </div>
                            </div>
                            
                            <div class="col-xs-12 col-md-3 col-xl-3">
                                <div class="form-group local-forms">
                                    <label>Curren Sustitution <span class="login-danger">*</span></label>
                                    <input class="form-control"  name="current_sustitution"   [(ngModel)]="current_sustitution" type="text"  >
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-group local-forms">
                                    <label>Description <span class="login-danger">*</span></label>
                                    <textarea class="form-control" name="description" [(ngModel)]="description" rows="4" cols="30"></textarea>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-12">
                                    <div class="row align-items-center" >
                                        <h3 class="card-title">STO</h3>
                                        
                                        <div class="col-xs-12 col-md-4 col-xl-4">
                                            <div class="form-group local-forms">
                                                <label>STO <span class="login-danger">*</span></label>
                                                <input class="form-control"  name="sustitution_sto"   [(ngModel)]="sustitution_sto" type="text"  >
                                            </div>
                                        </div>
                                        <div class="col-12 col-md-4 col-xl-4">
                                            <div class="form-group local-forms">
                                                <label >Status<span class="login-danger">*</span></label>
                                                <select
                                                    class="form-control form-select-solid fw-bolder"
                                                    name="sustitution_status_sto" [(ngModel)]="sustitution_status_sto">
                                                    <option>-- Select --</option>
                                                    <option value="inprogress">in progress</option>
                                                    <option value="initiated">Initiated</option>
                                                    <option value="mastered">mastered</option>
                                                    <option value="on hold">On Hold</option>
                                                    <option value="discontinued">Discontinued</option>
                                                    <option value="maintenance">Maintenance</option>
                                                      </select>
                                            </div>
                                        </div>
                                        <div class="col-12 col-md-4 col-xl-4">
                                            <div class="form-group local-forms">
                                                <label >Date<span class="login-danger">*</span></label>
                                                <input class="form-control datetimepicker" name="sustitution_date_sto" [(ngModel)]="sustitution_date_sto" type="text" matInput [matDatepicker]="pickerDateSTO"  >
                                                <mat-datepicker #pickerDateSTO></mat-datepicker>
                                                <mat-datepicker-toggle matIconSuffix [for]="pickerDateSTO"></mat-datepicker-toggle>
                                            </div>
                                        </div>
        
                                    </div>
                                    <div class="row align-items-center" >
                                        <div class="col-xs-12">
                                            <div class="form-group local-forms">
                                                <label>Description <span class="login-danger">*</span></label>
                                                <textarea class="form-control" name="decription_sto" [(ngModel)]="sustitution_decription_sto" rows="4" cols="30"></textarea>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 mb-3 doctor-submit text-end">
                                        <button class="btn btn-primary btn-sm" (click)="addSTOGoal()">Add</button>
                                    </div>
                                </div>
                            </div>
                            
                            <!-- fin sto -->

                            <!-- goals sto -->
                            <div class="card">
                                <div class="card-body">
                                    <h3 class="card-title">Goals STO</h3>
                                    <div class="col-xs-12">
                                        <div class="table-responsive">
                                            <table class="table mb-0">
                                                <thead>
                                                    <tr>
                                                        <th>STO</th>
                                                        <th>goal</th>
                                                        <th>decription</th>
                                                        <th>status</th>
                                                        <th>update status</th>
                                                        <th>date</th>
                                                    </tr>
                                                </thead>
                                                    <!-- -->
                                                <tbody  *ngIf="goalmaladaptive !== null && current_sustitution ">
                                                    <tr *ngFor="let goalsto of golstoSustiutions; let i = index">
                                                        <td>
                                                            {{goalsto.sustitution_sto}}
                                                        </td>
                                                        <td>
                                                             {{goalsto.maladaptive}}
                                                        </td>
                                                        <td>
                                                            {{goalsto.sustitution_decription_sto}}
                                                        </td>
                                                        <td>
                                                            <!-- {{goalsto.status_sto}} -->
                                                            <span class="badge bg-success" *ngIf="goalsto.sustitution_status_sto === 'inprogress'">In progress</span>
                                                            <span class="badge bg-success" *ngIf="goalsto.sustitution_status_sto === 'initiated'">Initiated</span>
                                                            <span class="badge bg-primary" *ngIf="goalsto.sustitution_status_sto === 'mastered'">Mastered</span>
                                                            <span class="badge bg-warning" *ngIf="goalsto.sustitution_status_sto === 'on hold'">On Hold</span>
                                                            <span class="badge bg-danger" *ngIf="goalsto.sustitution_status_sto === 'discontinued'">Discontinued</span>
                                                            <span class="badge bg-warning" *ngIf="goalsto.sustitution_status_sto === 'maintenance'">Maintenance</span>
                                                        </td>
                                                        <td>
                                                            <div class="form-group local-forms">
                                                                <select
                                                                    class="form-control form-select-solid fw-bolder"
                                                                    name="sustitution_status_sto_edit" [(ngModel)]="goalsto.sustitution_status_sto" (change)="cambiarStatus(goalsto)">
                                                                    <option>-- Select --</option>
                                                                      <option value="inprogress">in progress</option>
                                                                      <option value="initiated">Initiated</option>
                                                                      <option value="mastered">mastered</option>
                                                                      <option value="on hold">On Hold</option>
                                                                      <option value="discontinued">Discontinued</option>
                                                                      <option value="maintenance">Maintenance</option>
                                                                      </select>
                                                            </div>
                                                        </td>
                                                        <td>
                                                            {{goalsto.sustitution_date_sto | date}}
                                                        </td>
                                                        <td>
                                                            <!-- <button class="btn btn-outline-success btn-sm" (click)="selectedMaladaptiveSon(goalsto)"><i class="fa fa-bar-chart"></i></button> -->
                                                            <button class="btn btn-outline-danger btn-sm" (click)="deleteSTOGoal(goalsto)">x</button>
                                                        </td>
                                                    </tr>
                                                    
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                    
                                </div>
                            </div>
                            <!-- fin goals sto -->

                            <!--  lto -->
                            <div class="row">
                                <div class="col-xs-12">
                                    <div class="row align-items-center" >
                                        <h3 class="card-title">LTO</h3>
                                        
                                        <div class="col-xs-12 col-md-4">
                                            <div class="form-group local-forms">
                                                <label>LTO <span class="login-danger">*</span></label>
                                                <input class="form-control"  name="sustitution_lto"   [(ngModel)]="sustitution_lto" type="text"  >
                                            </div>
                                        </div>
                                        <div class="col-12 col-md-4">
                                            <div class="form-group local-forms">
                                                <label >Status<span class="login-danger">*</span></label>
                                                <select
                                                    class="form-control form-select-solid fw-bolder"
                                                    name="sustitution_status_lto" [(ngModel)]="sustitution_status_lto">
                                                    <option>-- Select --</option>
                                                    <option value="inprogress">in progress</option>
                                                    <option value="initiated">Initiated</option>
                                                    <option value="mastered">mastered</option>
                                                    <option value="on hold">On Hold</option>
                                                    <option value="discontinued">Discontinued</option>
                                                    <option value="maintenance">Maintenance</option>
                                                    </select>
                                            </div>
                                        </div>
                                        <div class="col-12 col-md-4">
                                            <div class="form-group local-forms">
                                                <label >Date<span class="login-danger">*</span></label>
                                                <input class="form-control datetimepicker" name="sustitution_date_lto" [(ngModel)]="sustitution_date_lto" type="text" matInput [matDatepicker]="pickerDateLTO"  >
                                                <mat-datepicker #pickerDateLTO></mat-datepicker>
                                                <mat-datepicker-toggle matIconSuffix [for]="pickerDateLTO"></mat-datepicker-toggle>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row align-items-center" >
                                        <div class="col-xs-12">
                                            <div class="form-group local-forms">
                                                <label>Description LTO <span class="login-danger">*</span></label>
                                                <textarea class="form-control" name="sustitution_decription_lto" [(ngModel)]="sustitution_decription_lto" rows="4" cols="30"></textarea>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 mb-3 doctor-submit text-end">
                                        <button class="btn btn-primary btn-sm" (click)="addLTOGoal()">Add</button>
                                    </div>
                                </div>
                            </div>
                            <!-- fin  lto -->
                            <!--  goals lto -->
                            <div class="card">
                                <div class="card-body">
                                    <h3 class="card-title">Goals LTO</h3>
                                    <div class="col-xs-12">
                                        <div class="table-responsive">
                                            <table class="table mb-0">
                                                <thead>
                                                    <tr>
                                                        <th>LTO</th>
                                                        <th>decription</th>
                                                        <th>status</th>
                                                        <th>update status</th>
                                                        <th>date</th>
                                                    </tr>
                                                </thead>
                                                <tbody >
                                                    <tr *ngFor="let goallto of golltoSustiution; let i = index">
                                                        <td>
                                                            {{goallto.sustitution_lto}}
                                                        </td>
                                                        <td>
                                                            {{goallto.sustitution_decription_lto}}
                                                        </td>
                                                        <td>
                                                            {{goallto.sustitution_status_lto}}
                                                            <!-- <span class="badge bg-success" *ngIf="goallto.status_lto === 'inprogress'">In progress</span>
                                                            <span class="badge bg-success" *ngIf="goallto.status_lto === 'initiated'">Initiated</span>
                                                            <span class="badge bg-primary" *ngIf="goallto.status_lto === 'mastered'">Mastered</span>
                                                            <span class="badge bg-warning" *ngIf="goallto.status_lto === 'on hold'">On Hold</span>
                                                            <span class="badge bg-danger" *ngIf="goallto.status_lto === 'discontinued'">Discontinued</span>
                                                            <span class="badge bg-warning" *ngIf="goallto.status_lto === 'maintenance'">Maintenance</span> -->
                                                        </td>
                                                        <td>
                                                            {{goallto.sustitution_date_lto | date}}
                                                        </td>
                                                        <td>
                                                            <!-- <button class="btn btn-outline-success btn-sm" (click)="selectedMaladaptiveSon(goallto)"><i class="fa fa-bar-chart"></i></button> -->
                                                            <button class="btn btn-outline-danger btn-sm" (click)="deleteLTOGoal(goallto)">x</button>
                                                        </td>
                                                    </tr>
                                                    
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                    
                                </div>
                            </div>
                            <!-- fin goals lto -->
                            
                            
                            <!-- validaciones -->
                            <div class="form-group row" *ngIf="text_success">
                                <div class="col-12">
                                    <div class="alert alert-success alert-dismissible fade show" role="alert">
                                        <strong>Exito!</strong>{{text_success}}.
                                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
                                            <span aria-hidden="true"> </span>
                                        </button>
                                    </div>
                                </div>
                            </div>
        
                            <div class="form-group row" *ngIf="text_validation">
                                <div class="col-12">
                                    <div class="alert alert-warning alert-dismissible fade show" role="alert">
                                        <strong>!</strong> {{ text_validation }}.
                                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
                                            <span aria-hidden="true"> </span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <!-- validaciones -->
                            
                            <div class="col-12">
                                <div class="doctor-submit text-end">
                                    <button type="button" class="btn btn-primary submit-form me-2" (click)="saveGoal()">Save</button>
                                    <!-- <button type="submit" class="btn btn-primary cancel-form">Cancel</button> -->
                                </div>
                            </div>
                        </div>
                        
                    </form>
                    
                    
                    
                    
                </div>
                <!-- fin maladaptiveSelected -->
                <hr>
                <!-- maladaptiveSelectedSon  grafico-->
                <div *ngIf="maladaptiveSelectedSon" class=" doctor-submit text-end">
                    <button class="btn btn-primary btn-sm" (click)="back() ">Back</button>
                </div>
                <div class="col-xs-12" *ngIf="maladaptiveSelectedSon">
                    <div class="rbt-dashboard-table table-responsive mobile-table-750" >
                        <h3 class="card-title"><b>Graphic:</b> {{maladaptive_child}}</h3>
                        <div class="row" >
            

                            <!-- goals sto -->
                            <div class="card">
                                <div class="card-body">
                                    <h3 class="card-title">Goals STO</h3>
                                    <div class="col-xs-12">
                                        <div class="table-responsive">
                                            <table class="table mb-0">
                                                <thead>
                                                    <tr>
                                                        <th>STO</th>
                                                        <th>goal</th>
                                                        <th>decription</th>
                                                        <th>status</th>
                                                        <th>date</th>
                                                    </tr>
                                                </thead>
                                                <tbody >
                                                    <tr *ngFor="let goalsto of golsto_child; let i = index">
                                                        <td>
                                                            {{goalsto.sto}}
                                                        </td>
                                                        <td>
                                                             {{goalsto.maladaptive}}
                                                        </td>
                                                        <td>
                                                            {{goalsto.decription_sto}}
                                                        </td>
                                                        <td>
                                                            {{goalsto.status_sto}}
                                                        </td>
                                                        <td>
                                                            {{goalsto.date_sto | date}}
                                                        </td>
                                                        <!-- <td>
                                                            <button class="btn btn-outline-success btn-sm" (click)="selectedMaladaptiveSon(goalsto)"><i class="fa fa-bar-chart"></i></button>
                                                            <button class="btn btn-outline-danger btn-sm" (click)="deleteSTOGoal(goalsto)">x</button>
                                                        </td> -->
                                                    </tr>
                                                    
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                    
                                </div>
                            </div>
                            <!-- fin goals sto -->

                            <!--  goals lto -->
                            <div class="card">
                                <div class="card-body">
                                    <h3 class="card-title">Goals LTO</h3>
                                    <div class="col-xs-12">
                                        <div class="table-responsive">
                                            <table class="table mb-0">
                                                <thead>
                                                    <tr>
                                                        <th>LTO</th>
                                                        <th>decription</th>
                                                        <th>status</th>
                                                        <th>date</th>
                                                    </tr>
                                                </thead>
                                                <tbody >
                                                    <tr *ngFor="let goallto of gollto_child; let i = index">
                                                        <td>
                                                            {{goallto.lto}}
                                                        </td>
                                                        <td>
                                                            {{goallto.decription_lto}}
                                                        </td>
                                                        <td>
                                                            {{goallto.status_lto}}
                                                        </td>
                                                        <td>
                                                            {{goallto.date_lto | date}}
                                                        </td>
                                                        <!-- <td>
                                                            <button class="btn btn-outline-success btn-sm" (click)="selectedMaladaptiveSon(goallto)"><i class="fa fa-bar-chart"></i></button>
                                                            <button class="btn btn-outline-danger btn-sm" (click)="deleteLTOGoal(goallto)">x</button>
                                                        </td> -->
                                                    </tr>
                                                    
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                    
                                </div>
                            </div>
                            <!-- fin goals lto -->
                        </div>
                        <!-- {{goal.goal}} -->
                        <app-chart-reduction></app-chart-reduction>
                    </div>
                </div>
                <!-- fin maladaptiveSelectedSon grafico -->
            </div>
            
            
            
        </div>
        
    </div>
    

        
</div>